[2021-03-09 17:38] Luigi408 opened #2 "Power Off works great but LG CX does not power back on (VLAN issue)"
Hello,

I get the following errors on my logs when my TV is trying to power back on:
`WARNING! DisplayPowerOnThread: connect: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond`

The TV is in the same network just on a different VLAN than the PC. The PC VLAN is able t

[2021-03-11 10:17] JPersson77 commented on #2
Hi,

thanks for your feedback. The TV is powered on by means of broadcasting a magic packet, aka Wake-on-lan(WOL). This is a layer 2 protocol, meaning that it should not be broadcast across VLANs. The easy solution would be to put the TV NIC on the same VLAN as your PC. A secondary option is to check if you have the option to relay WOL broadcasts to subnets in your router. A third option is to imp

[2021-03-13 08:18] Luigi408 commented on #2
Hi,

Thank you for your response. I have tried moving my TV (that was in my IoT
VLAN) to the same VLAN as my PC and the application worked. I was able to
do the test within the application and it was successful.

I did try that application you linked and it did not work when I am on a
different VLAN. My router is a Ubiquiti Unifi UDM-Pro, and from my search,
people have been unsuccessful in gettin

[2021-03-13 15:29] JPersson77 commented on #2
Thanks again and also for testing! Happy that the application is of use.

I will close the issue, but if anyone else has interest in implementation of a direct broadcast feature please le me know.

[2021-03-13 15:30] #2 closed

[2021-03-21 15:51] morespamlg opened #3 "Power off works power on does not. Multiple network adapters?"
The power off side works perfectly but I am not able to get it to power back on.  I tried the HDD power save settings and the quick power on is enabled.  The TV and the PC are on the same network.  The only think I can think of is if the magic packet is being set out the correct network adapter.  I have VM Ware Workstation installed and that creates multiple VMWare Network adapters.  I am wonderin

[2021-03-21 16:16] JPersson77 commented on #3
Hi there, can you enable the logging and upload the log to here please so I can have a look: https://pastebin.com/

[2021-03-21 16:34] morespamlg commented on #3
Here you go:

https://pastebin.com/ACnCY04w

[2021-03-21 17:44] JPersson77 commented on #3
Thanks,

Looking at the log I have some questions

1) It looks like you tried experimenting with different values for the power on timeout. Is that correct?

2) Can you confirm that the PC is on subnet 192.168.11.0/24? (note to self - add this piece of info to the log output and add a warning message if not). It should not matter what network adapter broadcasts the WOL, as long as it is on the sam

[2021-03-21 18:02] morespamlg commented on #3
Thank you for all your help.  Totally my bad.  I did not read the instructions carefully enough.  I did not have the turn on via Wi-Fi enable.  After turning that on it is working perfectly.

Thank you for everything.

[2021-03-21 18:02] #3 closed

[2021-03-21 18:55] JPersson77 commented on #3
Thanks for confirming, glad it works for you!

[2021-04-15 10:03] mbushnaq00 opened #4 "LG NANO90 wont turn on"
I have the LG 55" Nano90 and have installed the Lgtvcompanion as per the instructions. However, the function to turn on the TV is not working. I can turn it off without issues, but went bringing the PC back from sleep or turning it on does not turn on the TV.

I tried the following troubleshooting steps:

- Checked that "Turn on with Mobile" is enabled in the device connection settings
- Turned of

[2021-04-15 17:34] mbushnaq00 commented on #4
Yes it is in the same VLAN/subnet.

I tried sending a WOL packet and the TV turns on, but through the app it does not work

[2021-04-16 08:07] JPersson77 commented on #4
Thanks for verifying. I don't have an immediate solution, so more investigation is needed . If you don't mind helping me troubleshoot further can I ask you to download a WOL client/sniffer from here: https://wol.aquilatech.com/ . This app has a built in packet sniffer which you can use to inspect that 1) the app broadcasts the WOL, and 2) that the contents of the magic packet is correct (compare i

[2021-04-17 07:04] mbushnaq00 commented on #4
Thanks a lot for your support. I have installed the wol app that you mentioned and tried to broadcast a wol packet with the TV MAC address which did not work, however when I choose the option FQDN with the TV IP instead of broadcast the TV would turn on instantly. I tried using the listener in the app, but it only shows the result when only broadcasting, FQDN does not showup. Also I noticed one is

[2021-04-17 12:45] JPersson77 commented on #4
Great, thanks a bunch for your investigations. Interesting use case, and it makes sense that the WOL-packages are dropped.

There is actually no code which selects NIC for winsock operations, it's just broadcasted and Windows decides by which NIC. Usually a wired NIC will take priority over a wireliess so that should maybe explain the problem. I will investigate the opportunity to select NIC, or m

[2021-04-17 16:52] mbushnaq00 commented on #4
thanks a lot for the workaround, the TV turns on now after setting the interface metric to 1 on my Wifi adapter :)

hopefully there are no other bugs, I will report back if I encounter any other issue.

Again, thanks a lot for your effort in building this app, it is really needed for folks who use their TVs as monitors :)

[2021-04-18 00:25] JPersson77 commented on #4
Perfect, thanks for letting me know and for helping me testing the issue. Happy about the app working for you now. Will still consider some additional functionality for multiple client NICs, and will add this some additional info to the troubleshooting guide. Cheers!

[2021-04-23 08:11] mbushnaq00 opened #5 "TV does not turn off on shutdown"
Hi,

I have configured the app to successfully turn on and off, however when I try to shut down my PC nothing happens. The app turns off the TV only when the display is timed out or when the PC goes on standby. I also try fiddeling with the "restart, shutdown, power off" option in the app but the issue remains.

Kindly note that I have fast-startup disable due to bootup issues

Log details:

[code

[2021-04-23 17:42] JPersson77 commented on #5
Hi again, I suspect this issue may potentially have to do with timing particular to your system when shutting down. I think it's for example not guaranteed that windows will spawn new threads when the system is shutting down. Which may be the issue. Since I cannot really replicate this bug myself, would you be up for helping me test a patched version to try and slightly defer the service shutting

[2021-04-23 18:23] mbushnaq00 commented on #5
Sure I am ready to help where I can :) , there is an alternative app like yours called colorcontrol which initiates a proper shutdown but the implementation of the app is a bit messy (no service, starts only on user login, needs a taskbar icon, messy GUI...etc). Maybe you can check how it's implemented there.

[2021-04-23 19:35] JPersson77 commented on #5
Thanks, the mentioned app runs in userland and is a bit different. I made this a service to overcome some limitations you mention but services behave a bit differently. But let me send you a message and we can try to fix :)

[2021-05-03 22:23] JPersson77 commented on #5
Thanks @mbushnaq00 for helping testing and resolve this issue. I will push a patched version which will resolve this issue for those affected.

[2021-05-03 22:27] #5 closed

[2021-05-03 22:27] #4 closed

[2021-06-09 14:32] sesquipedality opened #6 "TV turns off but not back on again with latest firmware"
Hello,

The companion app was working fine on my LG OLED55CX5LB until recent firmware upgrades.  I am now on 03.23.06.   Here is the relevant log extract:

Wed 15:22:42 > ** System resumed from low power state.
Wed 15:22:46 > Device1, WARNING! DisplayPowerOnThread(): connect: A socket operation was attempted to an unreachable host
Wed 15:22:52 > Device1, WARNING! DisplayPowerOnThread(): connect: A

[2021-06-09 14:39] sesquipedality commented on #6
Confirmed the same issue is present with 1.3.0 .  Here is the log of a test run from the app.  Again, I turned the TV on myself at the end.

Wed 15:37:03 > IPC command received: -poweroff Device1
Wed 15:37:03 > Device1, spawning DisplayPowerOffThread().
Wed 15:37:03 > Device1, established contact: Display is powered OFF.
Wed 15:37:14 > IPC command received: -poweron Device1
Wed 15:37:14 > Device1,

[2021-06-09 14:53] JPersson77 commented on #6
Hi there,

i had another report of the same issue. Cannot confirm it myself, but let's try to fix it.

Is your TV/PC connected via wifi or wire? Do you have more than one network interfaces on your PC? Can you confirm that the TV and PC is on the same subnet/VLAN?

Also, I'd like the full log please, there should be some more tidbits earlier on regarding the host interface(s).

Cheers and thanks f

[2021-06-09 15:02] sesquipedality commented on #6
Just on the off chance I added in the wireless MAC address as well.  I didn't expect this to help as the wireless interface isn't in use, and indeed it didn't.   Here's the logs though as it contains slightly more useful info as I waited longer before turning the screen back on again.

Wed 16:00:29 > IPC command received: -poweron Device1
Wed 16:00:29 > Device1, spawning DisplayPowerOnThread().
We

[2021-06-09 15:13] JPersson77 commented on #6
Thanks again, I see now that the TV is wired. Can you please have a look at the other questions too in my previous comment.

[2021-06-09 15:17] JPersson77 commented on #6
Also, can you confirm that "Turn on via Wi-Fi(Networked standby mode)" is still enabled under options/Connection/Mobile connection management please.

[2021-06-09 16:35] sesquipedality commented on #6
I do have two wired interfaces and a wireless interface on my PC.  Only one is connected.

TV and PC are on the same LAN subnet and not on a VPN.

Log attached here.

[Log.txt](https://github.com/JPersson77/LGTVCompanion/files/6625394/Log.txt)
[](url)

Wifi standby mode is enabled, although it is under "Connection -> Mobile Connection Management -> TV on with Mobile -> Turn on via WiFI (Networked

[2021-06-09 17:01] JPersson77 commented on #6
Thanks, I think I might have a fix potentially. I'll patch the code when I have a little free time and maybe you can test drive before publishing?

[2021-06-09 17:04] sesquipedality commented on #6
Thanks.  Let me know when it's done and I will happily test.

[2021-06-09 19:52] JPersson77 commented on #6
Hi again, please check this version out: https://drive.google.com/file/d/1yp_QGdza5sRAY7Hp_7wePZjhKh0B3yVB/view?usp=sharing

Once installed, please reconfigure the network options per device/TV and select to "send wol broadcasts using the device IP and subnet mask". You may have to configure the subnet mask accordingly in the options as well, but I guess you know if you need to do this. If you wan

[2021-06-12 22:36] JPersson77 commented on #6
I published v.1.4.0 which contains the additional feature / fix. Let me know if it works for you please :)

[2021-06-24 22:20] JPersson77 commented on #6
Closing this issue due to missing feedback, but I think it is fixed. Let me know if you still have the issue and I will reopen. Cheers!

[2021-06-25 13:13] sesquipedality commented on #6
Unfortunately I think the feedback may have been eaten by spam filters, or something.  Unfortunately it's still not fixed.   Text of emails below:

- - -
Sending to the IP address works (Yay!) sending to the subnet does not. Log attached. (Entered the wrong subnet mask on the first two attempts due to early morning brain confusion, but the last couple of failures are with the correct subnet mask s

[2021-06-26 19:16] JPersson77 commented on #6
Hi again,
 yeah looks like those replies were lost in space. I think it should be preferred to use the third WOL option (using the subnet mask and the broadcast address 192.168.37.255) so let's try to troubleshoot some more. The second option to send to IP is not preferred as there might be routing table issues after the TV has been powered off for a while. The log conflicts with your report a bit

[2021-06-27 11:38] sesquipedality commented on #6
<name of this github account>@gmail.com will work.

Quickstart+ is enabled.  I have turned off HDD Eco Mode, but this doesn't seem to effect wake by broadcast address at all (i.e. still not working even in test mode).  I don't have an HDD attached to the TV so that's perhaps not too surprising.

I can confirm I am able to use AquilaTech Wake on Lan to wake the TV, but it requires me to enter the I

[2021-06-27 11:43] sesquipedality commented on #6
OK, using the WakeOnLan listener, I can see that WakeOnLan is broadcasting to <subnet>.255.  LGTV Companion is sending the broadcasts to 255.255.255.255 i.e. it seems to be ignoring the subnet mask setting.

[2021-06-27 11:48] sesquipedality commented on #6
OK, so looking more closely at these messages, they are being broadcast from the IP of the  Hyper-V Virtual Ethernet Adapter.   I am not sure that that adapter is doing, as I don't think I am running anything under Hyper-V, but that is definitely the wrong interface to be sending out the WOL packets on.

[2021-06-27 22:19] JPersson77 commented on #6
Hi again, I sent a link to a test version to your email account.

[2021-06-28 16:00] JPersson77 commented on #6
v1.4.2 is the patched version and work according to feedback from sequipedality. Thanks for reporting the bug.

[2021-06-28 16:00] #6 closed

[2021-12-14 05:19] Tailslide opened #7 "LG C1 won't turn on when PC resumes from sleep"
Seems to work in other situations but not this one:

[code]

[2021-12-14 08:13] JPersson77 commented on #7
Hi Tailslide,

It looks like you are sending the WOL-package to network broadcast address 255.255.255.255, i.e option 1 in the device configuration. Try changing it to option 3, i.e "broadcast address accordig to IP and subnet mask" and ensure to input the correct subnet mask. Usually the default correct subnet mask (255.255.255.0) is correct. If this does not work can you please send me the full

[2021-12-16 20:19] Tailslide commented on #7
Happened again.. this time it wasn't in sleep mode. Can't seem to find a pattern.. most of the time it works.

https://pastebin.com/Zh5S7WYk

[2021-12-18 21:29] JPersson77 commented on #7
Hi again,

there are no obvious problems in the log. From the log I can see that resuming from low power state takes around 6 seconds ususally, which is probably indicative of the time it takes for the PC to reconnect to the LAN. Then I see in the bottom of the log two entries where the screen responded only after 20-25 seconds. Can you verify that this is because you turned the screen on manually

[2021-12-19 07:30] Tailslide commented on #7
Yes after 20-25 seconds I started the TV manually that was the event.

Quickstart+ is enabled
I don't see the other options you mention maybe we have different firmware? I have 3.20.80
My TV is mounted so close to the wall I'll need to pick up a right angle cable but I'll give it a shot.. I was wondering the same thing about the wifi.

Another thing I might try is starting the TV with the LG app i

[2021-12-19 18:25] dechamps opened #10 "Sometimes TV is not powered off when Windows turns off the output"
(LGTVCompanion 1.4.2 Windows 11 21H2 22000.376, NVidia 496.76)

I have a hard-to-reproduce issue where sometimes (not always), for no apparent reason, LGTVCompanion does not turn off the TV when Windows decides to turn off the display. I'm referring purely to the Windows display timeout here, not PC standby/shutdown.

I hacked together a build with additional verbose logging code around `PBT_POWER

[2021-12-19 21:29] JPersson77 commented on #7
Hi again, I have a CX so the firmware versions are different, but for me the setting is under settings->general->additional settings->Eco mode->HDD Eco Mode. Please keep me posted on any and all things you can do to reproduce or mitigate the issue. I suspect using a cable is most likely to fix the issue (even though it's more of a workaround of course)

[2021-12-19 21:34] JPersson77 commented on #10
Hi there, I think I've seen this behaviour too but very infrequently. Maye two or three times in total. 0x2(dimmed) is used I believe for laptop screens that dim down a bit before shutting off. I will investigate how the proposed change will affect the logic but it seems like you may be on to something. Thanks for helping out!

[2021-12-21 23:54] JPersson77 commented on #10
Hi again, I pushed a workaround for this issue in line with your suggestion (Improved logic for screen dimmed state)

[2021-12-22 10:07] dechamps commented on #10
Well to be fair I was seeing this issue quite frequently before, but didn't observe it once in the last few days. The only thing I changed was I upgraded my NVidia drivers from 496.76 to 497.09, no idea if that has anything to do with it.

I'll keep running the old code for now just to see if the workaround will turn out to be useful or not.

[2021-12-22 17:31] Ashar003 opened #12 "Ethernet Cable Connected LG C1 TV Not Powering on using program's manual and automatic command"
I can turn off the tv fine manually and automatically, and , surprisingly, the tv turns on(from off-state) when I issue a manual turn off command.

I have tried all three options in the configure menu.
The logs show that the program is able to communicate with the display:

*My setup : I have shifted DHCP giving capability from my home router to a raspberry-pi running PiHole *

*The mac-addresses

[2021-12-22 19:13] JPersson77 commented on #12
Hi Ashar003,

Thanks for your report. I see that you confirm you have tried all three network options in the device configuration dialog. Primarily no 3 should be the preferred option. From your description it sounds to me like the app can communicate directly with the TV but broadcasted wake-on-lan (WOL) packets does not reach the TV. (Broadcasted WOL-packets are what turns the TV on). In this ca

[2021-12-22 20:09] Ashar003 commented on #12
Hi JPersson77,

About the weird thing, I entered the mac address twice out of despair lol.

I also tested the on command having pixel refresh schedule disabled.

I'll look into my lan soon.

I forgot to mention that, as I was playing around with option 3, when it's set at 255.255.255.0(to mimic the tv's subnet setting)
 ,in the log, it's transformed to 192.168.1.255.

Thanks

[2021-12-22 21:51] JPersson77 commented on #12
Ah, thanks, that explains the two WOLs.

Not sure if you can really disable pixel refresh, but regardless it shouldn't pixel refresh all the time of course.

Subnet mask 255.255.255.0 in your case equals 192.168.1.255 as the broadcast adress so that looks correct. You may want to go to an admin command prompt and type "ipconfig /all" just to verify that the subnet mask is accurate.

See if you can

[2021-12-22 22:10] dechamps commented on #12
On the C1 that's All Settings > General > Devices > External Devices > TV On With Mobile > Turn on via Wi-Fi.

[2022-01-10 10:12] dechamps commented on #10
Okay so unfortunately the problem didn't go away (with the old code, that is). While I was trying to reproduce this problem, I was running a short monitor timeout (3 minutes) to try to make it more frequent. This backfired, as the shorter timeout appears to have made the problem impossible to reproduce. Now that I've reverted back to my normal screen timeout (20 minutes) the issue is back. That's

[2022-01-10 10:20] JPersson77 commented on #10
Hiya, thanks for continued testing. I've been using the fix in latest master since some time now with no adverse effects so I hope it shall solve your issues. Getting ready to release a new version soon so will include this code change if you can verify it seems to solve your issues.

[2022-01-13 16:16] Tailslide commented on #7
After switching to wired ethernet the problem hasn't happened so must be something with how the TV handles wifi

[2022-01-13 16:16] #7 closed

[2022-01-13 17:00] JPersson77 commented on #7
Allright, thanks for confirming. Hope it keeps working and that using a network cable isn't too much of a nuisance

[2022-01-13 17:59] dechamps commented on #7
Just FYI, with the C1/G1, in order for WoL to work on WiFi, you need to enable "General" > "Devices" > "External Devices" > "TV On With Mobile" > "Turn on via Wi-Fi(Networked Standby Mode)". Otherwise it won't work.

[2022-01-13 18:30] Tailslide commented on #7
Thanks for the suggestion. Yes, I had that setting turned on.  And it worked most of the time just not 100% of the time.

[2022-01-13 19:10] dechamps opened #13 "What is the point of the new user idle "turnOffScreen" feature?"
I see the latest version has a new feature to send the TV a `turnOffScreen` command if the user has been idle for some period of time.

I don't understand the point of the feature. Can't the exact same result be achieved simply by using a blank Windows screensaver?

![image](https://user-images.githubusercontent.com/866859/149393260-769836c6-9539-4a3e-b6b3-9ceea4ec3814.png)

The release notes ment

[2022-01-13 20:34] JPersson77 commented on #13
Hi! This option enables as you mention the user idle detection in LGTV companion, which triggers in the absence of user input from keyboard, mouse and controllers. The difference when compared to both the screensaver and power events is that those OS implemented power saving functions utilize more variables for determining user idle/busy states, which may be considered a bit obscured and which can

[2022-01-13 20:46] dechamps commented on #13
Okay, that does make some sense, thanks!

Understood. Though personally I wouldn't use this feature, because I wouldn't want it to kick in while I'm watching a movie :) But I see your point.

Ideally, Windows software should be designed such that it would use "display force on" APIs such as `SetThreadExecutionState()` as conservatively as possible. For example my video player does use it very adeq

[2022-01-13 20:52] JPersson77 commented on #13
Yep, agree and confirm.

Good idea! I'll update the notes to keep things as clear as possible.

Thanks for your contributions Etienne it is much appreciated :)

[2022-01-16 18:54] catapultam-habeo opened #14 "Feature requests here"
Apologies for posting this as an issue rather than on the forum mentioned in the documentation; I don't speak Swedish at all, so didn't feel it was appropriate to join that community.

Would is be possible to add a feature to detect valid inputs on other HDMI port(s), and if lacking them, switch the input back to a specified HDMI port. (The example user story here would be switching back to a PC i

[2022-01-18 06:40] JPersson77 commented on #14
Hi, no worries. Thanks for the feature request. I have not investigated so don't know how practically feasible it is to detect a lack of input. It is not part of the current scope for the application. But I will think about it a bit

[2022-01-18 08:11] crainger opened #15 "1.5.0 no longer triggering sleep on WIndows 11 lock screen"
Hi,
since 1.5.0 update I've noticed sleep doesn't trigger on the windows 11 lock screen. Rolling back 1.4.2 fixes it.

[2022-01-18 08:12] crainger opened #16 "1.5.0 new idle feature not tiggering"
I haven't been able to get the idle feature to trigger with 1.5.0 under Windows 11.

I was testing using a 1 min timer at just the Windows desktop.

[2022-01-18 08:45] JPersson77 commented on #15
Hi, thanks for you bug report. +Are you on a laptop or stationary PC? Does yuor PC not go to sleep at all, or does the screen not turn off in response to the PC going to sleep?

Can I trouble you to upload a log from v142 and v150 to pastebin and point out the timestamps when the issue is occuring?

[2022-01-18 08:51] JPersson77 commented on #16
Hi, ok. First verify that LGTVdaemon.exe is running in the task manager once logged in (this is a user mode feature). It should be ran automatically. Can you then please start the LGTVdaemon.exe with commandline parameter "-show" and then observe the output. The "seconds ago" should increase when idle. At the minute mark the log shouild say -daemon useridle. Let me know how it goes please.

[2022-01-18 09:00] JPersson77 commented on #12
@Ashar003 hi mate, any feedback wrt the above?

[2022-01-19 06:46] crainger commented on #15
I'm on a desktop which is connected to HDMI 1
TV is an LG 48CX
The PC was sleeping, but was the TV sleep was not trigger. It just showed the no signal
I grabbed the logs. https://pastebin.com/9idTFYLp
My process was to

- enable logging
- Win+L to lock my PC
- wait for the timeout on lockscreen which is 30 seconds I believe.
- wait for screen to "tick"
- move mouse to wake back up
- I installed 1.

[2022-01-19 07:06] crainger commented on #16
I think I worked it out. I thought my PC was connected to HDMI 1, but it is HDMI 2 (I moved it for WFH) so I have set the on;u process option to HDMI 1.
Apologies, it's all user error. I'm so embarrassed right now.

[2022-01-19 07:06] #16 closed

[2022-01-19 07:07] crainger commented on #15
As per my other issue.
I think I worked it out. I thought my PC was connected to HDMI 1, but it is HDMI 2 (I moved it for WFH) so I have set the on;u process option to HDMI 1.
Apologies, it's all user error. I'm so embarrassed right now.

[2022-01-19 07:07] #15 closed

[2022-01-19 09:23] JPersson77 commented on #16
Ah that makes sense, don't be embarrassed it is easy to overlook stuff! Happy you figured it out mate! Thanks for your feedback!

[2022-01-24 18:24] aabdellah commented on #14
Would it be possible to switch TV HDMI input on PC wake to replicate HDMI-CEC behavior?
Fo example sometimes my last input is Apple TV, but I would like the PC to change the input when I wake it like how the Apple TV changes the input when it's awake. That way, no need to change the input manually when PC wasn't the last input.

[2022-01-24 20:32] JPersson77 commented on #14
Hi aabdellah,

yeah that might well be sort of possible and fit with the app. Thanks for the suggestion!

@catapultam-habeo I hijack your thread and maybe we can keep feature requests in here, hope that is ok

[2022-01-26 19:58] Amoeba00 opened #17 "No resume power on after switching to Windows 11"
LG C1
Worked perfectly in Windows 10.
Just did a clean install of Windows 11 and now it appears after the machine sleeps - I have to use the remote to power the TV back on.

I don't know if it's a setting in Windows or what I'm missing.  Any suggestions?

[2022-01-26 20:09] JPersson77 commented on #17
Hi amoeba00, did you install LGTV companion from scratch as well or did you copy over the old configuration. Can you please enable logging in the global settings, make the PC sleep/resume and then upload the log to pastebin or similar and I can have a look.

[2022-01-26 21:04] Amoeba00 commented on #17
Clean install on new boot drive. I'll do as you ask and report back.  Thanks.

[2022-01-27 14:26] Amoeba00 commented on #17
I think I see what's happening here.  It will resume after sleep mode, but after an extended period (I don't know how long) - the TV will not respond and the remote is required.  I'm guessing it's the Advanced power option setting that I have enabled?  What's the guidance for that?

Win 11 Power:  Screen set to off at 3min and Sleep mode begins at 5

Here are my app settings:
![image](https://user

[2022-01-27 15:00] Amoeba00 commented on #17
So this time I disabled the Advanced Power Option and here's the log from that (still had to manually power on with remote)

[code]

[2022-01-27 15:40] JPersson77 commented on #17
Hi without going into the logs, did you try to use option 3 in the network options? Highly suspect that is the issue. Click the "what's this?" link to get some help on determining your subnet mask. Let me know how that goes please.

[2022-01-27 18:40] Amoeba00 commented on #17
Well - that was it.  Option 3 - definitely made a difference.  Works now. Thanks!

[2022-01-27 18:40] #17 closed

[2022-01-27 23:32] JPersson77 commented on #17
Lovely! Thanks for your feedback!

[2022-01-30 16:15] JPersson77 commented on #14
@aabdellah check out v1.6.0. A feature was implemented to let the PC set display input on system boot or resume from low power mode. Does not trigger on user present as I did not really think that would be useful. Let me know how it works for you

[2022-02-03 08:18] aabdellah commented on #14
@JPersson77 working perfect, no need to manually change any inputs now. Thanks for the fast implementation.

[2022-02-04 22:41] Ashar003 commented on #12
Hello @JPersson77,

My apologies for not responding sooner.
It resolved itself shortly after that day in December - 22nd.

[2022-02-04 22:41] #12 closed

[2022-02-08 05:58] mbushnaq00 opened #18 "A "restart" would randomly turn off the TV"
I am currently using the latest version 1.6.1 on Windows 11 and even though I tried multiple "restart words" in the additional options page, the TV would intermittently turn off when a reboot is initiated. This used to happen also in earlier versions.

[2022-02-08 07:10] JPersson77 commented on #18
Hi, thanks for the report,

for reasons unbeknownst to people outside Microsoft the functionality (reading the event log) used by LGTV  companion to detect a restart does not always work because sometime the event is not written before windows has shut down. I guess it has to do with timing reasons. I've noticed it too occasionally, albeit very rarely.

I can think of some things to try, especiall

[2022-02-08 13:17] mbushnaq00 commented on #18
thanks for your response and support.
Yes, I am willing to help out whenever you have a test version out.

My OS is localized in the English language.

[2022-02-12 09:14] JPersson77 commented on #18
Hi again, can you check the log if one of the following entries exist:

"WARNING! The application did not receive an Event Subscription Callback prior to system shutting down. Unable to determine if system is shutting down or restarting.""

"WARNING! Unable to determine if system is shutting down or restarting. Please check 'additional settings in the UI."

[2022-02-15 10:34] mbushnaq00 commented on #18
Hello, yes I have received this entry today when restarting

Tue 09:48:57 > WARNING! The application did not receive an Event Subscription Callback prior to system shutting down. Unable to determine if system is shutting down or restarting.

[2022-03-08 21:34] dechamps opened #19 "TV sometimes does not turn on (WiFi broadcast issue?)"
I've noticed that, when using LGTVCompanion (any version, including latest `master`) with my LG G1 over WiFi, the TV would sometimes (not always!) fail to react when asked to turn on (automatically or manually from the LGTVCompanion UI).

This happens once every 2-3 days or so. I am not able to reproduce it on demand. It seems to only happen after the TV has been off for a long time (e.g. a few ho

[2022-03-09 02:00] WilliamLeGod commented on #19
I have the same issue!

[2022-03-09 02:02] WilliamLeGod commented on #14
Still I would love to have this feature "Would is be possible to add a feature to detect valid inputs on other HDMI port(s), and if lacking them, switch the input back to a specified HDMI port. (The example user story here would be switching back to a PC input after a game console is turned off.)"

[2022-03-09 19:38] dechamps commented on #19
@WilliamLeGod If you'd like to experiment, try the following potential workaround in a Powershell command prompt running as Administrator:

- Use the ` Get-NetIPConfiguration` command to figure out the `InterfaceIndex` of your network interface.
- Run: `New-NetNeighbor -InterfaceIndex <your interface index> -IPAddress <your TV IP address> -LinkLayerAddress <your TV MAC address using hyphens as sep

[2022-03-10 06:17] WilliamLeGod commented on #19
@dechamps Thank you for your help. I will test it soon and let you know. Meantime, I actually done some researches in regards to TV wi-fi/wake on Lan and found out that the wifi module inside the TV just can't function after an hour or more (from a LG representative) so this is more like a Hardware issue though

[2022-03-10 10:20] JPersson77 commented on #19
Hi Etienne, this is interesting! You're right regarding the unicast implementation, so if your theory is correct your workaround noted above (adding a static arp entry) should potentially work. I don't have much free time, at the moment, so if you can in the meantime please let me know how your experimentation with the ARP cache goes that wouold be great and I will start already thinking about a f

[2022-03-10 10:47] dechamps commented on #19
I don't think so - at least not on the C1/G1 series. First of all, I woke the TV plenty of times 16+ hours after being turned off. Second, if that was true, then I wouldn't be able to work around the problem using unicast WoL. Third, according to the dashboard of my WiFi AP, the TV does stay connected to the WiFi pretty much indefinitely after being turned off.

[2022-03-12 23:14] WilliamLeGod commented on #19
I guess my C9 uses the worse wifi module :(

[2022-03-12 23:20] WilliamLeGod opened #20 "Playstation input issue (Enhancement)"
Example: PS5 on HDMI 1, PC on HDMI 2

Scenario 1: LG companion using the option to turn to PC (HDMI 2) when TV is off at HDMI 1 (PS5) last time - Result when turn on PC: PS5 (HDMI 1) shows up for a second or two and force PS5 to turn on (If using CEC option in PS5)

Scenario 2: Using Hotel mode to force HDMI 2 as default input source - Result when turn on PC: Ps5 (HDMI 1) input source doesn't show

[2022-03-17 16:02] ParadoxicalEmboli opened #21 "MacBook version"
Hi, I've been using this software for the past year or so with my PC and it has been amazing. I sometimes have my MacBook connected and would really appreciate an apple compatible version of this software. I realize Apple's restrictions are a possible challenge to overcome, but is it possible to make an apple version of this software?

[2022-03-18 19:58] dechamps commented on #19
I think what I'm doing is working - I went 10 days in a row without the TV failing to turn on a single time. So I'm going to assume my theory is correct.

So now the question is how to adjust the behaviour of LGTVCompanion to work around the issue, i.e. ensure it never relies on Ethernet broadcasts - that means no IP broadcasts, and no broadcast ARP requests either.

I thought this would be easy,

[2022-03-19 11:27] dechamps commented on #19
Well that's what I was afraid of: I tried it, and it didn't work. Specifically, `CreateIpNetEntry2` always adds `Permanent` entries even if I call it with `State = NlnsReachable`. Looks like it's not possible to add non-permanent ARP entries from user space - the various Powershell commands can't do it either.

However, it *is* possible to add entries that don't survive across reboots (i.e. add pe

[2022-03-20 13:15] dechamps commented on #19
I implemented the proposed fix in PR #22.

[2022-03-20 13:25] dechamps commented on #19
By the way if anyone wants to try the fix, you can download the [installer](https://github.com/JPersson77/LGTVCompanion/suites/5727850673/artifacts/189538937) that [GitHub actions automatically built](https://github.com/JPersson77/LGTVCompanion/actions/runs/2011908436).

[2022-03-22 21:34] #19 closed

[2022-03-22 22:30] JPersson77 commented on #21
Hi, it would be possible but require too much of an effort I'm afraid. As a potential makeshift solution you could try to piece together something similar by having your macbook trigger wakeonlan/etherwake on boot and on resume using a tool like Sleepwatcher. Similarly for macbook shutdown/sleep you  could also use Sleepwatcher to send the command code (see handshake.h) to the TV using netcat or s

[2022-03-22 22:33] JPersson77 commented on #20
Hi, will investigate for a potential fix.

[2022-03-22 22:37] JPersson77 commented on #18
Hi again,

unfortunately I have been unable to find an improvement to this. Next time it happens can you please check your event log to see if an event 1074 was written during shutdown?

[2022-03-22 22:39] JPersson77 commented on #14
I am not aware of any potential way to query the device for active inputs, but I will keep it in mind

[2022-03-22 22:40] JPersson77 commented on #10
@dechamps was this resolved with the workaround? :)

[2022-03-22 22:46] dechamps commented on #10
Well it still hasn't happened since, so I'd say I'm pretty confident it's working yes.

[2022-03-22 22:53] #10 closed

[2022-03-24 14:03] WilliamLeGod opened #23 "Change HDMI input to PC when PC has already turned on instead of wake from sleep/hibernate or off (Feature)"
Example from PS5:
 - Ps5 is ON/Hdmi 2, PC is on Hdmi 1, when TV is at Hdmi 1, press the PS button on ps5 controller, TV will switch to Hdmi 2 (Ps5)

Is this possible to do this for PC by let's say making a shortcut or exe for whenever triggering it, it will do the exact same behavior like on the Ps5 controller (Can just set such shortcut/exe to a button on the pc controller)

Thanks for your hard

[2022-03-24 16:39] JPersson77 commented on #23
Hi,

That is possible, by using the command line. The following will switch input for Device1 to HDMI1:

Create a shortcut/script/macro pointing at executing: <install directory>\LGTV Companion.exe -sethdmi1 Device1

Full reference for the command line parameters can be found in the [readme](https://github.com/JPersson77/LGTVCompanion#readme)

[2022-03-25 00:27] WilliamLeGod commented on #23
It works! Thank you so much!

[2022-03-25 06:29] WilliamLeGod commented on #20
Thank you!.

Also, I've tested the seconds between turning on Xbox seri X, Ps5 and PC  And TV on and they are different, could you explain this by any chance?
 - Xbox seri X (From OFF instead of standby/sleep): Press xbox button on controller, Xbox turns on Immediately (not xbox OS but the hardware) and also TV turns on IMMEDIATELY!
 - PS5 (From OFF instead of Rest mode): Press PS button on contro

[2022-03-27 21:32] #23 closed

[2022-03-27 23:43] syaoran68 opened #25 "Display won't turn back on after turning off. Connected party did not properly respond after a period of time"
hey just updated to the latest version. v1.6.2

using a network 255.255.255.255 broadcast and it looks like that DisplayPowerOnThread() is not able to hit the TV even though the PowerOffThread works perfectly fine.

I've added some logging data.. where i turned of the screen off. and it worked fine, but turning on i tried 3 times and it fails.

[log data.txt](https://github.com/JPersson77/LGTVComp

[2022-03-28 15:53] mbushnaq00 commented on #18
alright thanks for the update

On Wed, Mar 23, 2022 at 2:37 AM JPersson77 ***@***.***> wrote:

--
______________________
Best Regards,
Mohammad Bushnaq

[2022-04-01 21:38] pltrant opened #26 "Only Process Events If Active"
Great program!  But is it possible to only have it process events if the PC that it is running on actually has an active HDMI connection?  Not sure if that's possible to detect.  Specifically, my use case is that I use a KVM switch and PC1 runs the LGTVCompanion and will send the shut off command after a few minutes of inactivity.  But if I switch to PC2 and am currently using it, the TV is then s

[2022-04-02 06:47] Soossie opened #27 "Opening tv after a long time workaround not working"
The workaround implemented in the latest patch worked well for a while, my LG CX actually woke up after a longer time when I booted my pc, but now it has stopped working? I made sure that the WOL magic packet is being sent to the Device IP-address and even tried to reinstall the program, but to no avail.

[2022-04-02 09:08] dechamps commented on #27
When you say it has "stopped working", do you mean that the TV never wakes up, or only sometimes? Is it reproducible?

Are you using WiFi?

It would help if you could provide an LGTVCompanion log captured when it's not working.

Keep in mind that, at least with my G1, the TV will not wake up if it loses connection to the WiFi access point while off (i.e. it doesn't reconnect automatically). For ex

[2022-04-02 11:34] Soossie commented on #27
I'm using an ethernet connection on my pc, but yeah the tv is connected via wifi. That actually might be the culprit here, I'll try to disable any automatic restarts and updates in my router and see if it still happens. If so, I'll provide logs.

[2022-04-04 00:45] lexcorp opened #28 "Launch app at power on tv"
Hi, it's possible launch app on power on TV?

Maybe using:

ares-cli is a command-line interface (CLI) for webOS. It provides a collection of commands used for creating, packaging, installing, and launching apps or services in the command line environment. ares-cli lets you develop and test apps or services without using any IDE.

https://www.webosose.org/docs/tools/sdk/cli/cli-user-guide/#ares-la

[2022-04-04 06:26] Soossie commented on #27
Hello! It seems that the same problem happened again. Here are the logs which the program made today:

Mon 09:15:21 > ** System resumed from low power state.
Mon 09:15:22 > ** System resumed from low power state (Automatic).
Mon 09:15:22 > Device1, spawning DisplaySetHdmiInputThread().
Mon 09:15:22 > ** System requests displays ON.
Mon 09:15:22 > Device1, spawning DisplayPowerOnThread().
Mon 09:15

[2022-04-04 09:30] dechamps commented on #27
Your log looks normal. At this point it's not clear to me what the problem is. And I'm not sure anyone besides you would be able to figure it out given these problems could be due to LGTVCompanion, the TV, the network, or anything in between, and anyone trying to reproduce will have a slightly different setup (most notably different WiFi access points and network topology).

Here are a few more th

[2022-04-07 15:07] Amoeba00 opened #29 "Duplicate restart words in Additional Options section?"
I didn't notice this in 1.6.1, but in 1.6.2 - there appears to be duplicates of shutdown and power off in the "Additional options" section.  Is this a typo or there by design?  If by design, what are the differences?

![image](https://user-images.githubusercontent.com/39176113/162231212-407f91ed-9546-4346-a938-da7576176475.png)

[2022-04-07 15:49] Amoeba00 commented on #25
What are your Windows settings for screen timeout and/or display off?
Are you turning off the TV with your remote and then trying to resume before any of those Windows settings kick in?
What is your Power On timeout value in the app?
Are you sure your TV IP hasn't changed?  (I had similar weird issues with the resume a while back before I realized that my IP address on the TV had changed and set a

[2022-04-08 19:46] JPersson77 commented on #28
Hi, not possible at the moment. Adding as a feature request

[2022-04-08 19:48] JPersson77 commented on #26
Would be nice. Adding as a feature request

[2022-04-08 19:52] JPersson77 commented on #25
Can you try the two other network options and let me know if that makes a difference?

[2022-04-11 12:00] PsYchitOut opened #30 "How to keep the display from turning on when I remote into PC."
Hey there. I typically enjoy using the setting where it blanks the monitor after a couple minutes with no input.
However, it causes a conflict with any remote PC software for gaming such as Steam Link or Moonlight. Problems pretty obvious, I connect to PC, it triggers the LG companion to turn on my tv. Even if I'm hundreds of miles away playing over my phone.  Only fix I've found is to go into the

[2022-04-11 12:02] PsYchitOut opened #31 "LG companion turning tv on when streaming desktop."
Hey there. I typically enjoy using the setting where it blanks the monitor after a couple minutes with no input.
However, it causes a conflict with any remote PC software for gaming such as Steam Link or Moonlight. Problems pretty obvious, I connect to PC, it triggers the LG companion to turn on my tv. Even if I'm hundreds of miles away playing over my phone.  Only fix I've found is to go into the

[2022-04-11 17:19] JPersson77 commented on #30
Hey, It should behave just like a regular monitor in these aspect I would assume.

But I'm a little confounded by your description of the issue - is the issue you experience that the TV turns on when you remote into the PC or that the screen is blanked after X minutes (during your remote sesssion)?

[2022-04-11 18:07] JPersson77 commented on #31
Hey, It should behave just like a regular monitor in these aspect I would assume.

But I'm a little confounded by your description of the issue - is the issue you experience that the TV turns on when you remote into the PC, or is the issue that the screen is blanked after X minutes (during your remote sesssion)?

[2022-04-11 18:07] JPersson77 commented on #30
duplicate, closing this one

[2022-04-11 18:07] #30 closed

[2022-04-12 00:02] PsYchitOut commented on #31
Sorry for confusion. Probably would make more sense if I describe the
situation. In my testing I found I might be misdiagnosing the problem.

 I have the display set up to turn on when my PC turns on , turn off on
shutdown, and blank when my PC has been idle for 2 minutes.

So in the morning I turn on the PC, log in and then turn my TV off so while
I'm on break at work I can connect with Steam Lin

[2022-04-12 10:37] JPersson77 commented on #31
Ah I see what you mean. Not sure but it might be possible for LGTV companion to detect if the PC is being remoted into (without knowing much about steam link) and then temporarily disable the function (as an option)

In the meantime you can try to workaround by finding a way of automatically running a script on steam link /nvidia gamestream connect/disconnect. I tried some googling but could not f

[2022-04-14 21:06] dechamps commented on #26
One way to solve this problem is to use LGTVDeviceListener, a tool I just published: https://github.com/dechamps/LGTVDeviceListener

The idea is that, instead of routing the video through the KVM, you can connect your devices to the TV directly and then have LGTVDeviceListener switch the TV input automatically when you switch the keyboard/mouse USB input.

[2022-04-15 14:29] elecgnosis opened #32 "Screen State Toggle"
The command line arguments are excellent. I wrote a dumb system tray icon UI to execute the commands, so instead of seven awkward remote control button presses, I can turn the screen on with my mouse.
I still have to pick the command to run from a menu depending on what the current state is though, so I'm hopeful that you might be able to add a `screentoggle` to the commands so that regardless of

[2022-04-17 18:37] JPersson77 commented on #32
See what you mean, but it's not straightforward to build it I think. To determine the current power-status of the TV the app needs to query it, but if the app query the TV when the TV is off there will be no response. So essentially the logic needs to be built around "indeterminate states", allowing for delays in the network etc. Seems hard to build something bulletproof out of that.

Typically th

[2022-04-26 13:02] WilliamLeGod opened #33 "Turning off TV automatically put PC in Sleep mode (Enhanced feature)"
Just like Xbox Seri X and PS5, turning off TV will automatically put them into rest/standby mode. Is this possible to set such feature for PC?

Thanks!

[2022-04-30 23:47] rkellogg9 opened #34 "Documentation of how to wake TV on different subnet"
In your guide you mentioned its possible to wake the TV even if its on a different subnet. Mind sharing how??

[2022-05-07 18:13] ividyon opened #35 "(Support) Interaction with enabling/disabling TV input (TV wakes up despite not being enabled)"
Following use case:

* Display profile management software with hotkeys (Monitor Profile Switcher)
* "Desktop" profile which enables my 3 desktop monitors and disables the LG TV
* "TV" profile which disables the desktop monitors and enables the LG TV

When I'm in my "Desktop" profile and wake the PC from screensaver/screen off, LGTV Companion seems to send a wakeup signal to the TV.

This then lea

[2022-05-08 10:05] JPersson77 commented on #35
I see how you mean, I'll add it as a feature request and see what can be done about it.

In the meanwhile you can try experimenting with the command line parameters of LGTV Companion. If you can use the monitor profile switcher to launch the app with command line parameters you can directly control power on/off state and disable/enable automatic management. See the reference [here](https://github.

[2022-05-08 10:11] JPersson77 commented on #34
Hi, it's not trivial because it requires having network equipment (router or level 3 switch) which can "relay" packet from one separate subnet to another separate subnet. There is tons of information on the internet, but if you try to describe how your network is set up and what hardware you are using, maybe I can help.

[2022-05-08 10:16] JPersson77 commented on #33
For PS5 it works due to HDMI-CEC. It is possible to sort of emulate with LGTV companion but it would only work under certain 'circumstances' so I don't think it's a feasible feature to add.

Circumstances include the PC constantly checking power status with the TV, like every second, and the other is that the TV function to automatically power off after X hours probably needs to be set to disabled

[2022-05-08 10:16] #33 closed

[2022-05-08 10:17] dechamps commented on #34
If you configure LGTVCompanion to use Unicast ("Device IP address" mode), then *in theory* WoL might work out of the box even if the TV is on a different subnet, as long as the TV is reachable of course (i.e. proper routes are in place).

I say "in theory" because that assumes the TV will respond to ARP requests while off. In my experience with a G1 over WiFi, that is not always the case. YMMV. If

[2022-05-10 01:45] Nezzy808 commented on #27
I'm having the same issue with a LG C1, power control works (on / off) if TV has been turned on manually recently. If PC/TV have been powered off for a long time C1 will not turn on when PC is booted up and CC can no longer get it to power up. Error log pasted below, any input would be appreciated.

2022-05-08 23:05:14.5548|DEBUG|ColorControl.LgService|PowerModeChanged: Suspend
2022-05-08 23:05:14

[2022-05-13 23:24] rkellogg9 commented on #34
I have my C1 connected via ethernet and have a unifi network (unifi dream machine pro and 48 port switch). Currently the LG is on my main lan but i wanted to put it on my IOT VLAN. I have a bunch of firewall rules in place that allow devices like my PC to reach the VLAN. Ill give the static IP address setting a try

[2022-05-15 23:18] joebeem commented on #34
I am actually attempting to setup something similar except I have a unifi dream machine standard version. I have vlans set up, but I have not enabled firewall rules to isolate yet (an entire separate issue). However, I  am able to wake the tv on a different subnet without any further tweaking - I just specify the ip and mac address and it worked. I have a feeling when i setup the firewall to isola

[2022-05-15 23:55] dechamps commented on #34
WoL should work with a firewall as long as it is configured to let LGTVCompanion send packets to the TV on [UDP destination port 9](https://github.com/JPersson77/LGTVCompanion/blob/df0181535bdb9a1b7665826844550d1cc37dc44c/LGTV%20Companion%20Service/Session.cpp#L443). (And for the rest of the control commands it needs Websocket access which happens on [TCP port 3000](https://github.com/JPersson77/L

[2022-06-07 11:47] WilliamLeGod opened #36 "Is it possible to have PC automatically put in sleep mode when TV is turn off (use power button on the remote control) just like the Ps5?"
I was wondering if Is it possible to have PC automatically put in sleep mode when TV is turn off (use power button on the remote control) just like the Ps5?

[2022-06-15 11:13] mmcgee01 opened #37 "At startup LGTVCompanion generates an error"
Error: Failed to initialize Toast Notifications: 3
This error is generated consistently on startup.

[2022-06-15 17:40] mmcgee01 commented on #37
I managed to resolve it.I am running Windows 11, 21H2. LGTV Companion v1.62.I do see "LGTV Companion (Daemon)" on the start menu.The error occurs when Account File Redirection is enabled in group policy for the “Start Menu”.If that setting is disabled & reverted the issue goes away. i.e. The accounts “Start Menu” must be located on the local disk.  From: JPersson77Sent: Wednesday, June 15, 2022 1:

[2022-06-15 18:53] JPersson77 commented on #37
Interesting! I'll see how it can be worked around to mitigate the error and provide the functionality with AFR. Thanks for feedback!

[2022-06-18 02:31] keyframe-one opened #38 "Does this software work with LG C2 EVO range?"

[2022-06-19 07:25] JPersson77 commented on #38
Yes, it works with my 42C2

[2022-06-27 17:24] #38 closed

[2022-06-27 18:47] #21 closed, assigned to nobody

[2022-06-27 18:48] JPersson77 commented on #25
Hi @Amoeba00 any update on this issue?

[2022-06-27 18:58] JPersson77 commented on #20
Hi @WilliamLeGod

the XBOX and PS5 are using different means for controlling the TV (CEC) and PC graphics cards do not have that functionality thus this app use other mechanisms for controlling the display, which require at least the OS to be at a state where services are loaded, which explains this delay.

And, no good fix devised for the first issue I'm afraid. Not having a PS5 to replicate does

[2022-06-27 18:58] #20 closed

[2022-06-27 19:43] Soossie commented on #27
@JPersson77  Hey! It seems that the issue was my router restarting itself every night. I disabled that setting in the router settings and it has been absolutely flawless.

[2022-06-28 05:35] JPersson77 commented on #27
Thanks for feedback and confirming mate!

[2022-06-28 05:35] #27 closed

[2022-06-30 12:30] JPersson77 commented on #37
Check out the new version which does not throw the error. The issue with file redirection is with a third party library so some work needs to be done there. As a consequence of this issue windows will not show notifications of new/updated versions in this (rare) user case until it can be sorted properly.

[2022-06-30 12:31] JPersson77 commented on #31
Check out the new version which has some optimisaations for RDP, which I hope will help in this case too. Please let me know how it goes.

[2022-06-30 12:31] JPersson77 commented on #29
Should be fixed in the latest version

[2022-07-06 00:11] Amoeba00 commented on #29
Confirmed.  Thanks!

[2022-07-06 00:11] #29 closed

[2022-07-06 00:12] Amoeba00 commented on #25
@syaoran68 had the issue, I was just relaying my troubleshooting tips since I had a similar issue happen to me a while back.  :-)

[2022-07-06 07:08] JPersson77 commented on #25
Whoops my bad, sorry mate!

@syaoran68 any update on this? 😁

[2022-07-11 16:57] joebeem opened #39 "LGTVCompanion stopped automatically turning TV off/on"
Hello,

I have had LGTVCompanion working on my PC for several weeks, but within the past week, I noticed my TV is no longer automatically turning on/off as it had been. This is a little odd to me because I don't think I changed anything.

While attempting to diagnose the issue, I discovered that if I manually restart the LGTVCompanion service,  the TV will turn on every time. Similarly, if I open

[2022-07-11 17:11] dechamps commented on #39
From your log the thing that jumps out at me is that the TV's IP address (`192.168.20.13`) doesn't seem to be on any of your local subnets. Did you put the TV on a separate network segment on purpose?

Can you provide a log where you successfully turn on the TV (manually) for comparison?

[2022-07-14 15:48] sonuyos opened #40 "Any way to turn off tv when the screen goes to sleep in windows power management?"
I have my Turn Off Display set for 3 mins, and then after 3 mins the screen goes to sleep, but the problem is that the LG Screensaver kicks in, what I want is that when the screen goes to sleep, it just shut down and when the mouse is moved that time the screen turns back on.

![image](https://user-images.githubusercontent.com/4099390/179023208-7f57336f-f87e-4937-9d72-3a26e9d18244.png)

I can use

[2022-07-18 17:44] JPersson77 commented on #40
Hi there,

If I understand you correctly you are looking for what is already a core functionality in LGTV companion. If the display does not shutdown/power off when your PC turn off the displays something is not working as expected. Can you please enable the logging function in the settings for the app, then upload the log here or elsewhere and paste a link so I can take a look please. Preferrrabl

[2022-07-19 14:28] psbeau opened #41 "Feature request - Don't blank screen while watching video"
Screen blank
Unfortunately, this nice little feature blanks the screen while I'm watching a vidoe.
Could be solved by detecting full screen:

QUERY_USER_NOTIFICATION_STATE pquns;
SHQueryUserNotificationState(&pquns);
QUNS_RUNNING_D3D_FULL_SCREEN – fullscreen (Direct3D application is running in exclusive mode, i.e. fullscreen)

[2022-07-19 16:11] dechamps commented on #41
The whole point of the LGTVCompanion's user idle detection feature is precisely to blank the screen *even when using a full screen application*. See #13.

If you want to prevent the screen from being turned off when using a full screen app, don't use the user idle detection feature - instead, use a blank screensaver or the Windows screen auto power off feature.

[2022-07-19 19:31] psbeau commented on #41
" that means there is definitely something wrong with your settings " Black level was on "Full"  - I only got the TV yesterday

Anyway, I have implemented it myself, now LGTVC Screen Blank works as I want.

[2022-07-21 03:05] hoho97 opened #42 "(Support) Any way not to shutdown TV when input source is not PC?"
I've been using my TV for PC monitor and PS5 (and sometimes netflix) as well

When I switch input source to PS5, the TV still turn off if I leave the PC idle long enough to off the screen

Is there any workaround so when I am playing PS5 the TV won't turn off automatically? Thanks

[2022-07-21 06:44] JPersson77 commented on #42
Hi, there is a feature for this. Check out the per device configuration

![Skärmbild 2022-07-21 084127](https://user-images.githubusercontent.com/77928210/180147402-0679b229-fc31-41a1-b5dc-c9fbc3e31c12.jpg)

[2022-07-21 08:20] hoho97 commented on #42
thanks for response. I do not tick this option

Do I need to set my PC never turn off display as well?

[2022-07-21 15:04] joebeem commented on #39
I apologize for the delay.

I do have it on a separate subnet on purpose. I bought a router which supports vlan's and I have plans to implement firewall rules to isolate "IOT" devices from my important computers as a layer of security. It was also working in this exact setup for several weeks and currently works if I manually restart the LGTVsvc windows service.

Attached is a log from a few minut

[2022-07-21 16:04] dechamps commented on #39
Sorry, I must have been confused - your first log shows the TV being successfully turned on, apparently because you restarted the service. Can you produce a log capturing a case where the TV does NOT turn on?

[2022-07-21 18:02] joebeem commented on #39
It turns on every time if I do it manually, but as an example, when I sat at my desk this AM and my monitors woke up, the LG tv did not turn on like it had been. Perhaps this log (the entire log file) might contain some information. If not, what would be the best way to attempt to get logs for this behavior?

[lg-full-log.txt](https://github.com/JPersson77/LGTVCompanion/files/9161695/lg-full-log.t

[2022-07-21 18:33] dechamps commented on #39
It's difficult to understand what's going on in your log because it all looks normal - LGTVCompanion attempts to turn on the display, and 20 seconds later it turns on, every single time. Either the log is misleading because you are turning on the display manually (which makes the log look like LGTVCompanion managed to turn it on but it was actually you), or there is actually no log for the failed

[2022-07-21 19:01] hassanuz opened #43 "Sony OLED support?"
Does this support Sony TVs as well, like the A90K?

[2022-07-21 19:02] dechamps commented on #43
No. The protocol is very LG-specific.

[2022-07-22 17:17] JPersson77 commented on #42
Hi again, you can keep that windows setting at whatever you prefer. When you tick this option then your display will just not process any power/screen off events, including those that windows generate when turning off displays

[2022-08-01 17:35] kalpaucjusz opened #44 "Feature - control volume level and mute"
I don't know whether LG TVs expose volume in the protocol this app is using, but it would be nice to have a command line argument to change volume level or mute the sound. I assume that it would also allow to control volume level of sound devices connected through eARC. I don't really see a point to putting it in GUI though.

[2022-08-16 02:18] imartz0 opened #46 "Only turn off the TV and shortcuts"
Hello,
I wanted to know if it is possible to just synchronize the turning off of the TV
I also wanted to know if I can only use the shortcuts, if I uncheck "restart" in the settings the shortcuts don't work
Thank you very much

[2022-08-23 21:34] StefanLobbenmeier opened #47 "This app was featured in Linus Tech Tips"
Hey :) not an issue, but more of a heads up.

In the latest LTT video they briefly talk about this app: https://youtu.be/4mgePWWCAmA?t=20m48s

If you like you could add this as a reference in the readme, e.g. the following quotes could be fun:

[2022-08-23 21:36] StefanLobbenmeier commented on #47
Of course you dont have to do anything, but it probably is nice being appreciated by a "celebrity". The repo might also get some more stars because of this shoutout.

[2022-08-23 23:22] Shiroe93 commented on #31
it's not working with moonlight
one solution could be (if possible) to react only to a specif device since moonlight creates virtual device for remote gaming

[2022-08-24 13:08] JPersson77 commented on #47
Haha, that did my evening! Thanks for heads up Stefan 👍  :)

Thanks for suggestions as well, I think it sounds good! Let's do it :)

[2022-08-24 13:54] JPersson77 commented on #44
Hi @kalpaucjusz,

That is exposed via the API so yeah it is possible. Muting the display's volume might fit into the scope of the application, since i think it could well be useful to have it as an option to mute the sound when the screen is blanked for example. I will consider it

[2022-08-24 13:54] #43 closed

[2022-08-24 14:21] JPersson77 commented on #46
Actually, come to think of a sort of workaround which in effect do what you want, temporarily. If you have automatic management of the display enabled in the UI but change the MAC-address of the display (in the configuration) to something which is invalid then I would assume the display will not turn on automatically, but it should still turn off properly. Not exactly a pretty workaround, but it m

[2022-08-24 14:24] To1ne commented on #47
Came here to say this!

I love the internet.

[2022-08-24 22:56] dechamps commented on #47
I am glad that can now say that "I was named in an LTT video".

![image](https://user-images.githubusercontent.com/866859/186537709-0e446786-9d84-4b73-bb41-d0cd5c5b0a04.png)

😁

[2022-08-25 07:19] couleurm opened #49 "Alternatives for other TV brands?"
Hey, do you know any other alternatives to make the experience on Samsung TVs less crappy? I've got a UE65NU7105KXXC by the way

[2022-08-25 13:58] IonCaza opened #50 "Use case involving a KVM, could use your advice"
Hey, this piece of software is absolutely amazing - I used to mess around with some early scripts back in the day that would hit the TV's APIs unreliably, but this makes it all 100x better.

My use case is the following, I use the TV as a monitor that's hooked up into an HDMI (KVM) switch. I have my Windows desktop as one source, and my Mac laptop as another source. I have LGTV Companion installed

[2022-08-25 14:35] dechamps commented on #50
Did you try this?

![Skärmbild 2022-07-21 084127](https://user-images.githubusercontent.com/77928210/180147402-0679b229-fc31-41a1-b5dc-c9fbc3e31c12.jpg)

By the way, if you use a KVM to also switch USB inputs, you might also be interested in this [LGTVDeviceListener](https://github.com/dechamps/LGTVDeviceListener).

[2022-08-25 14:58] IonCaza commented on #50
I'm using a hardware KVM switch (4k120hz) where the monitor's input never changes since the KVM deals with that.

This would've been great before I bought the KVM switch lol - I don't really need the input to change though.

This is what I ended up going with: https://www.easycoolav.com/products/8k-hdmi-kvm-switch-2-ports-usb-3-hotkey
So far it's worked flawlessly - but a "nice to have" would have

[2022-08-25 15:02] dechamps commented on #50
Ah right, sorry, I was confused. Obviously if you're using an HDMI KVM switch then the TV's selected input never changes.

[2022-08-25 15:48] JPersson77 commented on #50
Thanks for kind words! Well, it is possible to disable/enable automatic management of a device through the command line, which is what you want.

But it needs to be triggered by something.

One thing that comes to mind is to try and detect when a USB device is present, i e keyboard or mouse, as I suspect those will attach/detach to your PC depending on which input is active on your KVM. I know Eve

[2022-08-25 15:52] JPersson77 commented on #49
Hi @couleurm sorry to say I'm not aware of anything similar for a Samsung. But a quick google shows the necessary APIs seem to exist so it should be a possibility at least

[2022-08-25 21:40] AFranklin520 opened #51 "Stupid question, I'm sure, but how do I install this?"
I'm trying to compile it with Visual Studio 2022 after downloading Wix toolset and Wix extension. The build fails due to missing boost/beast.hpp called by Service.h and missing LGTVsvc.exe. Any idea what I'm doing wrong here?

[2022-08-25 21:43] AFranklin520 commented on #51
I found the releases page. Closing now.

[2022-08-25 21:43] #51 closed

[2022-08-26 10:13] Battler624 opened #52 "TV Turn off while video playback."
While playing local video files, the Automatic Blank feature still turns off the TV. I wish that this can be fixed.

Semi-related question, isn't it possible to hook into windows screensaver feature and if screensaver gets turned on then the LG Companion app would turn off (automatic blank) the TV? I'm asking because windows screensaver was what used before using the LGTV Companion and in that one

[2022-08-26 10:42] JPersson77 commented on #49
Hi @iizu yeah that sounds about right. I noticed that Samsung TVs can be powered on with the same mechanism (WOL)

[2022-08-26 10:55] dechamps commented on #52
My understanding is that this is working as intended for this feature. See #13.

I'm not sure I understand your use case. Currently with LGTVCompanion you have two options besides the "automatic blank" feature:

1. Use the "blank" Windows screensaver: sends a black signal to the TV when the Windows screensaver timeout kicks in. Prevents burn-in since no picture is displayed.
   - Downside: the TV

[2022-08-26 10:55] JPersson77 commented on #52
Hi @Battler624

1 This is actually by design, since the idea of the feature is to be a more "aggressively" configured screen saver. If you want windows/apps to be able to override/negate the screensaver, f e during gaming, watching a video etc then a normal blank windows screensaver can suffice. You are right that there is a case where you may have to use the remote and that is when th TV automati

[2022-08-26 10:56] JPersson77 commented on #52
@dechamps you beat me to it :)

[2022-08-26 11:56] nikitasatcik opened #53 "Add the minimize button, minimize on close option"
Hi @JPersson77,

Somehow, the companion app GUI is missing the "minimize" button.
It would be useful to add such button and also an option to minimize to tray on close.

[2022-08-26 19:39] Battler624 commented on #52
Thank you for you replies and #13 definitely shed some light on what I was thinking.

The whole idea about keeping the "auto poweroff" feature is to for the TV to run whatever OLED Care features it needs to run.

I'm going to follow what @dechamps is doing, it fits me exactly, again thank you both @dechamps @JPersson77.

I still do believe a middle-ground is doable (Companion app takes over if win

[2022-08-31 02:54] iammeuru opened #54 "Not seeing the install package in the repo."
NVM, found the release

[2022-08-31 02:57] #54 closed

[2022-09-02 14:59] Arthurdevid opened #55 "LG C2 with french words don't shutdown/resart"
Hello

Brand new owner of a an LG C2 here.

Thanks for your software !

My OS is in french and the words are detected but they are not working.

And when i enable it, my restart or shutdown, take very long, not like usual.

I have look at the log and i see each time i do a shutdown, the soft thinks it's a restart and same for restart but not working.

[2022-09-02 16:23] JPersson77 commented on #55
Hi @Arthurdevid,

Thanks for feedback! I need some additional info.

Can you please provide a screenshot of your "restart words" when you have it properly configured. It should be configured so that you have a checkbox next to the word which in french means "restart". (Click apply etc to make it active)

Then, with this configuration, enabled can you confirm whether the display turn off or stay aw

[2022-09-02 17:27] Arthurdevid commented on #55
<img width="346" alt="185311" src="https://user-images.githubusercontent.com/92452954/188206625-6ddebd34-1168-4d80-9b7c-ea08947b6630.png">

When shutdown

you can see :

Fri 16:54:54 > IPC, Daemon has started.
Fri 19:22:18 > The service terminated.

Fri 19:22:18 > LGTV Companion Service started (v 1.7.0) --------------

Nothing here

And same when restarting

[2022-09-02 17:48] JPersson77 commented on #55
Hi,

thanks!

If I understand my google translate correctly (forgive me if I'm wrong) only "redémarrer" seems to mean "restart". So from the screenshot it looks like you need to untick the other ones. Basically you need to have it configured analogous to this:
![Skärmbild 2022-09-02 193618](https://user-images.githubusercontent.com/77928210/188208036-a501971c-2556-457e-bacc-66663bb0fe17.jpg)

(Rem

[2022-09-02 18:23] Arthurdevid commented on #55
Hi,

Sorry for wasting your time, beacause now it's working perfectly !

i have mis interpreted, this sentence : 'you must in the 'additional settings' dialog click the correct checkboxes to indicate what words refer to the system restarting/rebooting'.  I thought, if it's more than one checkbox it must be for something...

But now i see the one checkbox on the screenshot documentation, it make se

[2022-09-02 18:23] #55 closed

[2022-09-02 18:28] JPersson77 commented on #55
Hi,

that's great to hear! Thanks for feedback and helping me figure it out. Maybe I can consider rewording the hint text :)

Have a nice evening

[2022-09-03 00:57] catapultam-habeo commented on #14
A version of this application that doesn't rely on a service or daemon, and can simply send commands would be hugely useful.

My particular use-case is to control the TV from a linux machine, but I imagine someone wanting to do something weird with windows scripting might have a use for it also.

[2022-09-03 08:50] dechamps commented on #14
@catapultam-habeo If all you need is to send commands to the TV from a Linux command line, what you're looking for is [bscpylgtv](https://pypi.org/project/bscpylgtv/). For powering on the TV you can use any Wake-on-LAN tool (I recommend `etherwake`).

[2022-09-09 16:09] AFranklin520 opened #56 "Really great and useful application!"
I've been trying this out for a few weeks now, and I just have to say it works exactly as advertised. I really appreciate you and your excellent work.

[2022-09-09 16:13] kimpurcell commented on #56
Is there an equivalent that works for the LG 48GQ900?

[2022-09-09 16:26] AFranklin520 commented on #56
It might just work with any LG TV. I have a NANO85, not OLED and it works great. Just give it a shot, the worst that can happen is nothing. Just make sure to follow the instructions exactly or it won't work.

[2022-09-09 16:41] devNostyle opened #57 "LG not start when pc run."
Hi,
I try my best,  but porgram not start when I turn on PC.
turn off seems work well, but only that.

[2022-09-09 20:24] JPersson77 commented on #57
Hi @devNostyle

I assume you have followed the setup guide in the readme, but can you please confirm you have done this:

- Ensure that the TV can be woken via the network. For the CX line of displays this is accomplished by navigating to Settings (cog button on remote)->All Settings->Connection->Mobile Connection Management->TV On with Mobile, and then enable 'Turn On via Wi-Fi'. For C1 and C2 it

[2022-09-09 20:25] JPersson77 commented on #56
@kimpurcell it should work for all modern LG TV using WebOS.

@AFranklin520 thanks a bunch mate!

[2022-09-09 20:27] kimpurcell commented on #56
Thanks. That means it won’t work on the LG 48GQ900, because it’s a monitor and doesn’t come with WebOS or Wi-Fi.

[2022-09-09 21:29] devNostyle commented on #57
ehh, sry

Ensure that the TV can be woken via the network. For the CX line of displays this is accomplished by navigating to Settings (cog button on remote)->All Settings->Connection->Mobile Connection Management->TV On with Mobile, and then enable 'Turn On via Wi-Fi'. For C1 and C2 it's All Settings->General->Devices->External Devices->TV On With Mobile->Turn on via Wi-Fi

FIXED my issue, all wor

[2022-09-09 21:30] #57 closed

[2022-09-13 12:11] lukpcn opened #58 "Can You add setting that allow to choose what app listens to for not being idle and turn screenon/off ?"
On my system something is preventing the app from see that I'm idle (not using mouse or keyboard) but I have other usb game controllers attached that probably stops app from detecting idle...

Can You add a settings that will allow limiting listening to a keyboard presses only?

[2022-09-15 21:46] #56 closed

[2022-09-17 01:11] samkirkh08 opened #59 "Installation Issues - Am I dumb or just missing something :'("
Gday mate,

Saw this on Linus's video and is just what I have been after, but after some time I just cannot figure out how to instal?

I will step you through what I have done thus far as Im almost certain its that I dont know how to use github very well (new user!)

1. From this page (https://github.com/JPersson77/LGTVCompanion)  I download the code as zip
2. I unzip folder
3. I cant immediately

[2022-09-17 02:12] Eden365 opened #60 "LG companion app is making TV turn off even when in use, can only wake up with remote"
Without the companion app, tv works fine. When i set everything up. The TV is automatically going dark after a minute and then no mouse or keyboard movement will wake it. Pressing a button on the remote instantly wakes the tv again.

Have I done something wrong, please help!

[2022-09-17 09:04] dechamps commented on #59
There's no need to download the code. What you're looking for is the [releases page](https://github.com/JPersson77/LGTVCompanion/releases).

@JPersson77 In my experience people unfamiliar with GitHub often get confused like this. The way I fix it in my own projects is by adding a link in bold letters at the top of the README to direct people to the releases page ([example](https://github.com/decha

[2022-09-17 12:46] JPersson77 commented on #59
@dechamps good idea! Let's do that!

@samkirkh08 what @dechamps said. Just download and install the latest release from the releases page and install it as per usual.

[2022-09-17 12:56] JPersson77 commented on #60
Hi, it sounds like the application can communicate with the display, but not wake it.

I assume you have followed the setup guide in the readme, but can you please confirm you have done this:

Ensure that the TV can be woken via the network. For the CX line of displays this is accomplished by navigating to Settings (cog button on remote)->All Settings->Connection->Mobile Connection Management->TV

[2022-09-17 12:59] JPersson77 commented on #58
Hi, I will add it to the feature request list and consider it. However what you describe sounds odd. Maybe you want to try and disconnect devices until you find the culprit? Would be curious to know what controller we are talking about and if there is something to be done at the actual issue.

[2022-09-17 13:10] dechamps commented on #58
@JPersson77 I'm not surprised. I have to keep my HOTAS (Joystick) disconnected otherwise the Windows screensaver won't kick in. I'm guessing it's a Windows limitation where Windows doesn't see the user as "idle" if there is any game controller plugged in.

[2022-09-17 14:22] JPersson77 commented on #58
HI @dechamps. Granted, I only tried with the XBOX-gamepads but they don't interfere with this functionality so it is not an universal issue.

If you want to, try launch the user daemon with argument "-show" and it will lunch a UI where last user input is denoted. See how it behaves with the HOTAS attached/removed.

[2022-09-17 15:35] lukpcn commented on #58
My system is a virtual pinball cabinet, I have controllers that act like mouse and have 6 axis gyroscope, windows can't enter screensaver that's why I wanted to use Your app. Limiting the check to only keystrokes would give me possibility to save my C2 a bit ;)

[2022-09-18 00:09] samkirkh08 commented on #59
Thanks very much @dechamps & @JPersson77!

[2022-09-18 05:26] Eden365 commented on #60
Hi friend, thank you so much for getting back to me.

Correct, I followed your guide and I enabled the turn on via wi-fi. That all works great!

- I have quickstart + enabled

Here is the log data from when I was having issues -

https://pastebin.com/arpxMpQj

It appears this is the error that is causing my issue - _A connection attempt failed because the connected party did not properly respond a

[2022-09-18 09:13] dechamps commented on #60
Your log shows you are using broadcasts. Have you tried the "Device IP-address" option? It should be more reliable. Make sure your LGTVCompanion is up to date as there have been improvements (#22) in this area.

[2022-09-18 09:18] Eden365 commented on #60
Thank you. I'll change it to that and see how I go.

[2022-09-18 20:02] jcronic420 commented on #14
Is there a way to have it not turn off LG C1 when restarting pc? Maybe there is already an option, not sure. I only want it to turn off TV when shutting down.

[2022-09-18 20:16] JPersson77 commented on #14
Please confirm the "restart words" in the global options are configured
correctly. I e if you are on a us/uk version of windows you should ensure
there is a tick in the checkbox for "restart" only but if you have another
localisation of windows you need to tick the equivalent box for the word
which translate to "restart". You can click the "what's this?" link in the
options to read more about why

[2022-09-18 20:26] jcronic420 commented on #14
Yes only have restart checkbox selected. Still turns off TV when restarting.

[2022-09-20 09:51] xingfanxia commented on #53
Yeah it's kinda annoying it has to float somewhere on the screen

[2022-09-20 11:35] JPersson77 commented on #53
Hi,

I didnt think anyone wanted to keep the window open once it was initially
configured tbh but I will look into an option to "dock to tray".

Kind regards

On Tue, 20 Sept 2022, 11:51 Memento Mori, ***@***.***> wrote:

[2022-09-20 15:57] ThinkSalat opened #61 "Test is greyed out"
I added manually using my wifi connection and the test option is greyed out,.

![image](https://user-images.githubusercontent.com/31082405/191306736-d089209f-9bd3-4258-b7ff-2492b952ad6d.png)

[2022-09-20 15:59] JPersson77 commented on #61
Click apply and try again. Should work!

[2022-09-20 16:05] ThinkSalat commented on #61
Thanks! That' worked. Now i'm getting this error

![image](https://user-images.githubusercontent.com/31082405/191308826-16008e24-fb8f-45e0-a9c0-a13d6027cbfd.png)

[2022-09-20 16:24] ThinkSalat commented on #61
Weird. it's running. I have the dhcp thing configured correctly. Still getting the same error. I reset my routers. I'll try resetting my computer

[2022-09-20 16:25] ThinkSalat commented on #61
By the way, this is my config

![image](https://user-images.githubusercontent.com/31082405/191312785-c0a4c600-54fa-4d90-943d-e940abc80383.png)

[2022-09-20 16:26] ThinkSalat commented on #61
HOLD up, I restarted the service and the UI and the test worked! Incredible, thank you

[2022-09-20 16:28] JPersson77 commented on #61
Ah excellent! We'll just write it off as a fluke then. Happy it works!

[2022-09-20 16:32] ThinkSalat commented on #61
Thanks for such excellent support and feedback - I have another question. So I turn off the tv - how do I get it to turn on again based on input from my computer? Is that part of this program as well>

[2022-09-20 16:42] JPersson77 commented on #61
You are welcome! Yeah the application will turn the display on/off similarly to how a regular PC-monitor will behave. So I advise you configure the windows power settings to turn the display off after, say, 30 minutes of user inactivity and optionally enable the user idle detection/screen blanking feature in LGTV companion and set it at 5 minutes or so. And then you should be able to leave the rem

[2022-09-20 20:12] Evolx1 opened #62 "Does my computer need to run on the same wifi connection as the TV?"
For some reason my tv can't connect to a 5ghz wifi connection. But my computer can. It is much more reliable than the normal wifi.

Will this affect the companion app?

[2022-09-20 20:18] dechamps commented on #62
Ideally they should be on the same Ethernet segment (IP subnet).

If you have one WiFi network that is advertised as both 2.4 and 5 GHz (which is the normal way to do it), it will work.

If you have two WiFi networks, but they are connected to the same Ethernet segment, it will work.

If you have two independent WiFi networks that use different IP subnets, expect trouble.

[2022-09-20 21:09] Evolx1 commented on #62
Hmmm I'll have to try it again.

What about Ethernet? Is it possible to leave my computer connected with Ethernet and then the TV setup with wifi?

[2022-09-20 21:11] dechamps commented on #62
Yes. You can do wired Ethernet on the computer and Ethernet on the TV, WiFi on both, Ethernet on one and WiFi on another, etc. It doesn't matter. All that matters is that they share the same Ethernet segment (IP block).

[2022-09-20 21:17] Evolx1 commented on #62
Awesome. Thank you so much :)

[2022-09-21 06:54] Eden365 opened #63 "Companion app no longer connecting?"
I don't know what I have done but all of a sudden the app doesn't work for me.

https://pastebin.com/1QFYqCaU

[2022-09-21 07:45] JPersson77 commented on #63
Sorry 192.168.0.44 ....

On Wed, 21 Sept 2022, 08:54 Eden365, ***@***.***> wrote:

[2022-09-21 07:47] Eden365 commented on #63
This is what I have in the configure device setting of the companion app, yes?

[2022-09-21 13:07] ThinkSalat commented on #61
Hey @JPersson77, last night I left the tv on and let it turn off on its own in accordance with the instructions, and this morning it didn't wake when I started using my coptuer - my original monitor turned on (laptop). I'm using an LG C1
here's my settings:
![image](https://user-images.githubusercontent.com/31082405/191510074-6fc6ac96-0823-4dc3-b830-4a039e4b50aa.png)
![image](https://user-images.g

[2022-09-21 13:56] JPersson77 commented on #61
Thanks for report, can you confirm the TV has the same IP-adress today as
yesterday? Check your TVs network settings. I e 192.168.50.115. Then upload
the log to pastebin so I can have a look at it. Cheers!

On Wed, 21 Sept 2022, 15:07 Shawn Salat, ***@***.***> wrote:

[2022-09-21 16:08] ThinkSalat commented on #61
Yes, The ip is the same! And where exactly is the log stored? btw I'm sending a donation your way and when I have a second I will help update your README (the rest of your code is way above my level)

[2022-09-21 17:15] JPersson77 commented on #61
Thanks mate it is much appreciated! The log is stored typically in
c:/programdata/lgtv companion/ but you can also access it by clicking on
the "log" hyperlink in the global options page.

If the IP is correct then the next thing to try would be the other two
network options in the device configuration page (broadcast to subnet,
network broadcast .... in that order). Also, if you can't make it wor

[2022-09-21 17:34] ThinkSalat commented on #61
Here's the paste bin https://pastebin.com/m1jtzwVs

And whjat you mean trying the other two network options is using these?

![image](https://user-images.githubusercontent.com/31082405/191572454-d5d70be4-b2b0-4a06-a2e6-a12ea9178b51.png)

I'll continue troubleshooting. Unfortunately it's a little time consuming as I've only noticed it happening in the morning. For example last night I took your adv

[2022-09-22 06:10] JPersson77 commented on #61
Note to self: do not email responses as it does not work properly

Hi, thanks, the log does not indicate that anything is going wrong actually. The software seem to be able to communicate with the TV, and is getting a response from the TV.

Yes, you can try those other two options to see if anyone works better. Are you using a wired connection to the TV or a cable?

Can you confirm also that you h

[2022-09-22 06:11] JPersson77 commented on #63
Note to self - don't email responses as it does not work properly

It is possible the IP of your display was changed by your router. Please enter the network settings of the TV (not the app) and verify that the IP is still 192.168.0.44.

[2022-09-22 06:26] Eden365 commented on #63
all good my friend.

Is there any programs that run on startup? I had a few in my task manager labeled "program". I turned them off and thats when the app stopped working or its because i restarted my router?

Regardless i have it working now :) thank you

[2022-09-22 06:33] JPersson77 commented on #63
There are three components, a service which should be running all the time, a UI for configuring options which you run only when you need to change the settings, and from a few versions ago also a user daemon which does a few specific things in user mode (user idle detection for example). If you disabled the LGTV daemon  you can therefore expect user idle detection to stop working (if you use it)

[2022-09-22 13:29] dechamps commented on #61
If you're using WiFi, it's important to keep in mind that, in order for WoL to work, the TV must stay *continuously* connected to the WiFi network for the entire time that it's off (i.e. 8 hours in your case). If the TV is disconnected from the WiFi network for any reason while it is off, it will *not* automatically reconnect and you will need to turn on the TV manually.

The TV could get disconne

[2022-09-22 13:32] JPersson77 commented on #61
I understand your reasons for keeping it wireless.

Since it fails to wake up after being off during the night (an extended period) I find it likely that the TV is losing contact and can't automatically reconnect with the network, and only a manual power on will make it connect again. The reason for this in my experience might be twofold: either your router/accesspoints for some reason goes down o

[2022-09-23 13:53] ThinkSalat commented on #61
Hello @JPersson77 ! Wiring it up was the solution! Perhaps the wifi network automatically drops connections or something for some kind of power saving mode. I also use a mesh setup but I highly doubt that has anything to do with it, as it would've caused other problems. Anyway I will mark this closed. Thank you very much :)

[2022-09-23 13:53] #61 closed

[2022-09-23 14:08] JPersson77 commented on #61
Thanks @ThinkSalat I think we can conclude from this and other issues that the wifi-adapter in the CX-C2 lines exhibit this behaviour. Happy it works with a cable! Have a nice weekend! :)

[2022-09-23 21:25] argon932 opened #64 "Does not work with "sleep" command"
I use "Sleep" instead of "Shut Down" because my computer is in a remote location and I need to be able to wake it via USB. The TV does not turn off with this. It would be nice to have this supported.

For now, I made an event scheduler and command line arguments to do this using:
https://www.mediafire.com/file/2azlcjl9bcqufmg/Monitor_Off_When_Sleep.7z/file

Import Monitor Off When Sleep.xml in Win

[2022-09-24 07:41] JPersson77 commented on #64
Hi @argon932 ,

this is already a functionality of the app. Can you copy a log at pastebin or similar and paste the link here and I can have a look. Please indicate timecodes when the PC is put to sleep so I can look for relevant events in the log.

[2022-09-24 07:49] argon932 commented on #64
I will double check maybe it's a fluke. Is there a way to not have the program popup whenever I return from sleep? I always have to minimize it.

[2022-09-24 09:29] JPersson77 commented on #64
Allright, if you need me to look at the log let me know here. Also there should be nothing popping up when you resume from sleep. Is that the UI/options dialog? Do you keep it open for any particular reason? Once it is configured you can just close it as its only function is to configure the service.

[2022-09-24 22:13] argon932 commented on #64
I have no idea what was going on. I reinstalled the program and it now correctly shuts it off when I go into sleep. It also no longer pops back up whenever I come out of sleep, despite me closing the window every time. So both my issues have seemingly been fixed. I will report back if they return. Thanks.

[2022-09-24 22:53] JPersson77 commented on #64
Good to hear! Let's hope it keeps on working!

[2022-09-27 02:35] stlmike opened #65 "TV not waking up."
TV is not waking up after using test.

I  had to manual enter my tv info and scan did not find my tv.  I did XXX out my ip and mac address.. See below for my pastebin

https://pastebin.com/jBdLRx6L

[2022-09-27 15:59] JPersson77 commented on #65
Hi @stlmike, it looks like the application can communicate with the display, but not wake it.

I assume you have followed the setup guide in the readme, but can you please confirm you have done this:

- Ensure that the TV can be woken via the network. For the CX line of displays this is accomplished by navigating to Settings (cog button on remote)->All Settings->Connection->Mobile Connection Manag

[2022-09-30 07:00] isidor3 opened #66 "Feature request: Respond to windows display configuration changes and power TV appropriately."
Maybe a weird use case, but I have a secondary display I sometimes connect to my PC. I currently have windows configured to only output on that display when it's connected, and it will remember this and properly disable output to the TV when I connect the secondary display.

When this happens today, the TV loses the input signal and shows the LG "no input detected" screensaver. It would be conveni

[2022-10-01 02:10] stlmike commented on #65
Hello

When I press Test the monitor powers off and does come back on.  It goes black out after xxx amount of minutes (without loosing power) So i guess that part is working.

I do have my tv directly connected to ethernet.

I had to manual config my device as scanning will not return any results.

I half to enter mac address as when I tried to save I get The configuration is incorrect or missing

[2022-10-01 08:10] JPersson77 commented on #66
I have a similar use case where I sometimes connect an external display (projector) and it would absolutely make sense that LGTV companion responds to this change in display topology. You can maybe consider using the command line shortcuts to work around this for now. Command line reference [here](https://github.com/JPersson77/LGTVCompanion#commandline-arguments)

[2022-10-01 08:25] JPersson77 commented on #65
Hi @stlmike ,

From reading what you write I am not sure what is not working for you.

1) I read that using the test function is working for you. But you also wrote initially that the TV does not power on after using test. Can you confirm that the test function works properly but that the TV can not power on in other situations, f e when the PC is booting up, resuming from sleep etc.
2) Can you co

[2022-10-08 08:29] dechamps commented on #14
It looks like you are referring to [ABSL/TPC](https://tftcentral.co.uk/articles/oled-dimming-confusion-apl-abl-asbl-tpc-and-gsr-explained#ASBL-Auto-Static-Brightness-Limiter-also-known-as-TPC-Temporal-Peak-Luminance-Control). I'm not aware of any way to disable that remotely. The only known way of disabling ABSL/TPC is to use the LG service menu (which you can access using a service remote or some

[2022-10-08 08:39] oooseun commented on #14
Sounds like it exactly, thanks! I'll look into it 👯

[2022-10-11 07:06] JPersson77 commented on #63
hi, yeah the log indicates that the display is not responding. Can you
confirm that the display is still using ip 192.168.1.44?

Kind regards Jörgen

On Wed, 21 Sept 2022, 08:54 Eden365, ***@***.***> wrote:

[2022-10-11 08:32] JPersson77 commented on #63
It is possible the IP of your display was changed by your router. Please
enter the network settings of the TV (not the app) and verify that the IP
is still 192.168.9.44.

On Wed, 21 Sept 2022, 09:48 Eden365, ***@***.***> wrote:

[2022-10-11 12:15] ThinkSalat commented on #61
Hi @JPersson77 is this the thread you meant to reply to? I resolved it through using hardwired cable with the tv.

[2022-10-11 16:35] lukpcn commented on #58
Here is a vid of my pinball cabinet before I put LG C2 into it: https://youtu.be/uMyyP0ypl1s

[2022-10-11 18:32] anzial opened #67 "Feature request: control energy saving settings"
Hi there, awesome app, use it everyday :) I love the -screenoff/-screenon commands, mapped them to keys on my keyboard (well, a macro). I was wondering if the same could be done for power saving features, it's annoying that the tv doesn't remember them for individual video profiles and it's set globally for everything. I would be really grateful if I could use a command line to control that as wel

[2022-10-15 13:29] ThinkSalat opened #68 "Strange behavior on LG C1"
Hello there,

I've just return from a long vacation, bringing my laptop with me. My tv is now randomly  turning, even if it's not hooked up by hdmi to my computer on which I have installed LGTV Companion, but it smells related to me.

Another thing is this: and sorry to put two separate issues into one, but when I'm watching youtube videos, after a certain point,  the screen goes blank. Is there a

[2022-10-15 15:14] JPersson77 commented on #68
Hi @ThinkSalat ,

1. You should probably uncheck the checkbox "manage this device". If you configure a PC to control your display it will continue to do so regardless of whether it is connected via HDMI or not. The app communicates with the display via your LAN.
2. It should be the option to "Automatically blank, i e turn off transmitters...".  It will blank the screen if there is no user iput via

[2022-10-15 15:29] ThinkSalat commented on #68
Thanks! I'm going to give these a try! Didn't realize it was still communicating with the LAN. This still allows normal functionality though right?

[2022-10-15 16:25] JPersson77 commented on #68
Unchecking "manage this device" means the app will not tell the display to turn on/off  anymore in response to the system turning on/off so you probably need to check it again if/when you connect the display.

[2022-10-15 16:37] ThinkSalat commented on #68
Got it, thank you.

[2022-10-15 16:58] JPersson77 commented on #68
welcome mate :)

[2022-10-15 22:23] ThinkSalat commented on #68
Now it seems to be not sleeping at all. My screen saver has always been set to just turn off after 1 minute but it's not turning on at all anymore... not sure if it has anything to do with lgtv companion. i'll see if shuting the service off will cause the screen saver to work again

[2022-10-15 22:45] ThinkSalat commented on #68
Ok, youj're not gonna believe it, but I disabled the lgtv companion service, and my screen saver still isn't activating. so my oled is just sitting there on.

[2022-10-15 23:02] ThinkSalat commented on #68
I think just for safety i'll set it to blank after 20 minutes. shuold prevent burn in, but give me enough time for most youtube videos

[2022-10-16 06:21] JPersson77 commented on #68
Maybe try running an admin command prompt and "powercfg /requests" to find out what prevents the screensaver from kicking in. This windows behavior is the reason the blanking feature was implemented in the app.

[2022-10-16 19:07] ThinkSalat commented on #68
![image](https://user-images.githubusercontent.com/31082405/196053330-1babb58f-5efa-4e29-87c6-f04d2cf5c1af.png)
/

Weird... so Spotify has something to do with this? God I'm so confused, it was working perfectly before :(

[2022-10-16 19:33] tonycassara commented on #40
Hi @JPersson77 I'm having the same issue, can you check my log?

[code]

[2022-10-16 19:41] JPersson77 commented on #68
No worries at all, not sure I can help you troubleshoot spotify further though I'm afraid

[2022-10-16 19:51] JPersson77 commented on #40
Hi @tonycassara, is the issue that the app does not automatically turn on your TV, turn off your TV, or both? From the log it looks like both.

If so, you might want to start by double checking the IP and the MAC-address. Also, I assume you have followed the setup guide in the readme, but can you please confirm you have done this:

Ensure that the TV can be woken via the network. For the CX line o

[2022-10-16 20:11] ThinkSalat commented on #68
I turned it back on to managed and it's working much better now. I think with the 20 minute timer for blanking the screen, we should be good, can always turn it off if watching a movie or something.

[2022-10-16 20:41] imartz0 commented on #46
Hi again, It worked perfect since I configure it using AHK but now it stop working. Only the command to turn on the tv works. Thank you!

[2022-10-16 23:56] tonycassara commented on #40
@JPersson77 oh my gosh soooo I forgot I changed the wifi password and didn't update the TV's password... duh. It works great now! Thank you for such an awesome tool!

[2022-10-17 19:07] ThinkSalat commented on #68
Unfortunately now again it's not working again, though I've not changed any settings.

[2022-10-17 19:09] JPersson77 commented on #68
Hi @ThinkSalat please define not working.

[2022-10-17 19:11] ThinkSalat commented on #68
Sorry, the screen doesn’t turn off anymore. Just dims. On Oct 17, 2022, at 2:09 PM, JPersson77 ***@***.***> wrote:﻿
Hi @ThinkSalat please define not working.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-18 09:28] Cr4z33 opened #69 "LG C1 48" turns off succesfully, but not on."
I've disabled LAN power saving both in Windows 11 (Pro Insider Build) and in my ASUS ROG Strix X570-F Gaming BIOS and enabled wake on LAN.

I've also followed your instructions step-by-step.

No matter what else I tried the TV keeps turning off succesfully but on.

Here's the log:
`Tue 11:24:08 > LGTV Companion Service started (v 1.7.0) ---------------------------
Tue 11:24:08 > Configuration file

[2022-10-18 10:26] JPersson77 commented on #69
btw, does the 65" turn on properly?

[2022-10-18 10:27] Cr4z33 commented on #69
It actually turns out the LAN connections goes online only like 20 seconds after logging into Windows... need to find out why.

Thank you anyway and sorry for having wasted your time hehe.

[2022-10-18 10:27] #69 closed

[2022-10-18 10:29] JPersson77 commented on #69
No worries, that sounds like an excessively long time. Maybe try updating/reverting your NIC-drivers

[2022-10-18 10:40] dechamps commented on #69
Another explanation could be that your Ethernet switch takes an abnormally long time to establish the link (some Cisco switches are notoriously slow at this for example, but it can be fixed by changing their configuration), or that your LAN DHCP server is especially slow.

[2022-10-18 10:42] Cr4z33 commented on #69
Switch is fine. 😉

[2022-10-21 20:42] ThinkSalat commented on #68
Hello,

I turned the setting to turn the screen off after 20 minutes, but the screen isn't turning off now. It seems completely random when the screensaver or lgtv companion turns the screen off.

[2022-10-21 22:57] devNostyle opened #70 "Windows 11 - not work at all?"
Hi,
I was using with succes on windows 10.
But now change for 11 - seems LG CAMPANION not work on this windows ?.
Can't even found any device on  start.

[2022-10-21 22:58] dechamps commented on #70
LGTVCompanion works perfectly fine on Windows 11, which I'm using right now.

[2022-10-21 23:09] devNostyle commented on #70
hmm i  got msg : not found MSVCP140.dll

[2022-10-24 18:19] JPersson77 commented on #70
You might need to (re)install the microsoft visual c++ redistributables: [here](https://learn.microsoft.com/en-us/cpp/windows/latest-supported-vc-redist?view=msvc-170). Try the first on for MSVC 2015, 2017, 2019, 2022

[2022-10-25 23:19] reaps101 opened #71 "chrome resizing"
is there anyway to stop chrome resizing to top left corner, chrome resizes every time tv is put to sleep when companion app is set to manage tv have tried different browser firefox doesn't do it

[2022-10-25 23:26] dechamps commented on #71
I suspect this has nothing to do with LGTVCompanion and more to do with the fact that TVs, in general, appear as disconnected when they are turned off (more specifically, they stop responding to EDID requests), which is different from how typical PC monitors behave. As a result, turning off the TV and then turning it back on is seen as Windows as a monitor disconnect and reconnect event, which can

[2022-10-28 17:41] anzial commented on #67
oops, yes, I used screenon and off a lot, not the poweron/off lol, sorry for the confusion. It's not an issue, btw, I only mentioned as analogy for what may be a useful feature to control energy saving feature of the tv from the commandline as well.

[2022-10-30 20:41] JPersson77 commented on #67
Ah, gotcha! I will keep it in the list of feature requests - it is potentially in the scope of this application (power savings)

[2022-10-30 20:46] JPersson77 commented on #71
You could try turning on  "quickstart+" (CX) or "always ready" (C2) which, if I'm right, let the device keep the HDMI active and responding to EDID requests

[2022-10-30 20:47] JPersson77 commented on #66
Hi isidor3, I have a beta version for you to trial. Let me know if you want to try it please

[2022-10-30 20:49] JPersson77 commented on #60
Hi @Eden365 any progress with this?

[2022-10-30 20:50] JPersson77 commented on #65
Hi @stlmike any feedback on the this issue?

[2022-10-30 20:52] JPersson77 commented on #58
That is extremely cool!!

[2022-10-30 20:56] JPersson77 commented on #53
@nikitasatcik @xingfanxia any feedback on the above? Want to get feedback on this so I can maybe be clearer on how the configuration window should be used.

[2022-10-30 20:59] JPersson77 commented on #46
Hi @imartz0 can you paste a log over at pastebin please and also indicate the timecode when the issue occurs so I can have a look?

[2022-10-30 21:03] JPersson77 commented on #39
hi @joebeem any feedback on precise timestamps and a an updated log so the issue can be further looked into?

[2022-10-30 21:05] JPersson77 commented on #35
@ividyon Hi I have a test build for you if you want to beta-test. Let me know and I'll provide a link

[2022-10-30 21:07] JPersson77 commented on #26
hi @pltrant I have a beta-version for you to test. Let me know and I will provide a link.

[2022-10-30 23:38] JPersson77 commented on #68
hi @ThinkSalat did you get this sorted?

[2022-10-30 23:52] stlmike commented on #65
Sorry forgot to reply, it randomly started working..

[2022-10-30 23:53] JPersson77 commented on #65
OK, great! Thanks for feedback!

[2022-10-31 08:28] Chris0706 opened #72 "TV sometimes does not turn on"
Hi JPersson,

thanks for developing this and trying to make our lives easier :)

I've got the companion working pretty okay, but 1/3 of the starts it does not turn on the TV.  Any way to troubleshoot it?
![image](https://user-images.githubusercontent.com/9281382/198964453-47f7c80b-dd68-4449-8559-0bb1c9d63c1c.png)
This are the dependencies of the service.. do I need to add more manually maybe? Or c

[2022-10-31 08:50] Eden365 commented on #60
Yes! I believe changing it to Device IP-address and resetting my router fixed this issue!

[2022-10-31 08:52] devNostyle commented on #70
Ok seems work.
But when connect dualsense with cable - them stop. That wird...

[2022-10-31 15:39] imartz0 commented on #46
I fixed it by rescanning the tv again. Thank you!

[2022-10-31 20:35] JPersson77 commented on #72
Ho @Chris0706, thanks too! Can you please enable logging in the global options and upload it to pastebin or similar so I can have a look? Please indicate the timestamps when it does not turn on automatically and refrain from turning it on manually for at least a minute. Cheers

[2022-10-31 20:36] JPersson77 commented on #70
Great! Can't help you with the dualsense controllers though I'm afraid.

[2022-10-31 20:38] JPersson77 commented on #46
Good to hear! Maybe double check that you have set your router to permanently assign the same IP to the TV. THanks too!

[2022-10-31 20:38] #46 closed

[2022-10-31 20:39] #60 closed

[2022-10-31 20:40] #65 closed

[2022-11-01 19:50] ef804s opened #73 "LG C2 does not respond anymore after reset"
Here is the config file:
    "Device1": {
        "Enabled": true,
        "HDMIinputcontrol": true,
        "IP": "192.168.1.11",
        "MAC": [
            "74:E6:B8:C9:E9:CC"
        ],
        "Name": "lgc2",
        "OnlyTurnOffIfCurrentHDMIInputNumberIs": 1,
        "SessionKey": "4a8fe4af610e1c149a2a60bc5d2c49f1",
        "SetHDMIInputOnResume": true,
        "SetHDMIInputOnResumeToNumber

[2022-11-01 20:34] JPersson77 commented on #73
Hi Fred, can you define "does not respond" please. From reading the log it seems everything is working allright and the TV seems to be responding immediately

[2022-11-02 17:55] JPersson77 commented on #26
Please check out the latest release which should do what you want: [Releases](https://github.com/JPersson77/LGTVCompanion/releases)

[2022-11-02 17:55] JPersson77 commented on #35
Please check out the latest release which should do what you want: [Releases](https://github.com/JPersson77/LGTVCompanion/releases)

[2022-11-02 17:57] JPersson77 commented on #53
Added a minimize button to the latest release! But again, there is no need to keep the configuration UI open after all ihas been configured. The UI is only used for configuring the service.

[2022-11-02 17:59] JPersson77 commented on #31
I will investigate for next version. Just got myself a nvidia shield Pro which should help with testing and discovery gamestream/moonlight/steamlink

[2022-11-02 18:26] Shiroe93 commented on #31
Awesome! I look forward to this new update

[2022-11-03 06:59] ef804s commented on #73
Hi,

reset means resetting the C2: "General" "System" "Reset to Initial Settings"
The C2 does not turn on or off, if the C2 menu system is active, I can see a flicker when I issue an ON or OFF command from the your GUI.

I think it is a problem in WebOS, is there a "hard" reset?
Thanks for looking into the issue.

Fred

[2022-11-03 07:06] ef804s commented on #73
I closed the issue by accident

[2022-11-03 07:13] ef804s opened #74 "LG C2 does not respond anymore after reset"
I answered your questions in #73, but closed the thread by accident

[2022-11-03 07:21] JPersson77 commented on #73
Try to delete the device in the app and re-add it. The SessionKey is probably wrong since the TV was reset.

I assume this should work, and I think I should add some check or mechanism for detecting this condition

[2022-11-03 07:27] JPersson77 commented on #74
I reopened the old issue so closing this :)

[2022-11-03 07:27] #74 closed

[2022-11-03 07:43] ef804s commented on #73
Hi,

thank you so much! This solved my issue.

Best regards,

Fred

[2022-11-03 07:43] #73 closed

[2022-11-03 23:42] drspamilton opened #75 "windows monitor topology feature in v1.8.0 - documentation"
Thank you for your hard work. I don't quite understand how 1.8 differs from 1.7 as far as powering on and off. Can someone explain? Thank you.

[2022-11-04 07:55] JPersson77 commented on #75
Thanks too! Absolutely!  The difference is that 1.7 powered on and powered off all your devices following the power state of your PC, while 1.8 also takes into account what devices you have actually enabled in the windows monitor configuration.
![monitors](https://user-images.githubusercontent.com/77928210/199921182-3640fcc3-583c-4753-a428-c54de040c2db.jpg)

So the application should now manage mu

[2022-11-05 19:28] adam-koebel opened #76 "Automatic screen blanking doesn't trigger, but does work from command line"
My display is an LG C2. I have Quick Start+ and Always Ready enabled. LGTV Companion gets a pairing key (see it in the log). And I know it's connecting because the test works and I can also trigger the "screen off" function via command line. But the automatic screen off when idle is not working. I set it to 1 minute, don't touch mouse or keyboard but it never initiates the screen off event (don't

[2022-11-05 19:42] JPersson77 commented on #76
Hi @adam-koebel, can you as a first step try executing "LGTVdaemon.ex -show" and observe the output of the window that opens. It should show you the time of last input (mouse, keyboard, controller) as well as the communication with the service. It might give you additional clues. Please report back your findings.

The scan feature does not work as one might expect, by reading for example EDID-valu

[2022-11-05 19:54] JPersson77 commented on #76
Actually what I just wrote about changed behaviour in C2 is not all accurate. I just now tried and I can actually see that my 42C2 can be found in the digital media devices in the device manager and subsequently a scan in the app does pick it up. Not entirely sure about windows inner workings and the timing of windows adding the device to the device manager. Will see if I can figure out some more

[2022-11-05 19:55] adam-koebel commented on #76
OK I just tried the -show command and the "seconds ago" stays at 0 with new input tick numbers happening every second.

So then I started to unplug USB devices with that window up and I found the culprit: my USB DAC. I have no idea why that is preventing the idle detection. The DAC is a "XMOS XHRA-2HPA" in device manager (Monoprice Monolith Headphone DAC/Amp). Unfortunately it has no kind of power

[2022-11-05 20:21] JPersson77 commented on #76
Not sure why the USB DAC would be the culprit. I tried googling the Monolith,  but cannot see anything in the feature list that would be troublesome. It's just an USB-DAC and usually that does not interfere. I cannot find any mentions of a driver download either so I assume there is nothing to update in that regard. Maybe try switching from a usb 3 to usb 2 contact or vice versa if that is an opti

[2022-11-05 20:50] adam-koebel commented on #76
Thanks for your assistance. After a lot of googling I was able to find a solution buried away on reddit: https://www.reddit.com/r/techsupport/comments/dmylee/fixed_a_problem_with_dac_interrupting_sleep_mode/

For some reason some USB audio devices create a generic named input device, which it doesn't seem to be needed for any functionality. Disabling that in device manager solves the issue.

[2022-11-05 20:55] #76 closed

[2022-11-05 20:56] JPersson77 commented on #76
Excellent! I suspected something acting foul along these lines.. Some DACs actually have a need for registering a HID input device of course but I guess there are many ways it can also be implemented in the wrong way. Happy it was solved!

[2022-11-06 13:15] dechamps commented on #71
Do you have some source on that? I just tried it on my G1 (firmware 03.33.11) and as far as I can tell it makes no difference.

[2022-11-06 14:53] JPersson77 commented on #71
Hi @dechamps no source but my own testing.  "Always ready" on C2 seem to avoid the behavior @reaps points out as the  HDMI-input remain active. I'm however interpolating that assumption that Quickstart+ does something similar for earlier models as I cannot test it myself. Unfortunately then your experince does not corroborate.

[2022-11-06 15:38] JPersson77 commented on #71
Hi again @dechamps so your comment made me think and do some additional googling. It seems "Quickstart+" and "Always ready" is NOT the same thing. They are discrete features and both exist on C2. But "always ready" is a feature which was added on 2022 models (C2, G2 etc..).

And this revelation leads me to believe there may be a in issue with the multi-monitor support in v1.8.0 for 2021 models and

[2022-11-06 20:54] reaps101 commented on #71
hi i have a c1 and have always used Quickstart+ so can confirm that it doesn't keep the hdmi active thats why im having this problem thanks

[2022-11-07 07:52] JPersson77 commented on #71
hi @reaps101 , thanks for confirming. I suppose you could attempt fixing the issue by adding a cheap EDID emulator in the signal chain. However I tried a quick google for an HDMI2.1 compatible EDID emulator and passthrough but only came up with the $200 HDfury which is a great device but a bit overkill. Maybe your google-fu is better than mine if this is something you would be interested in.

[2022-11-07 16:13] Ghan04 opened #77 "Blanking vs Power Off & Display Detection"
I recently got an LG C2 for my computer to go with my two other monitors. I've been experimenting with this application and have a question - I hope I'm understanding this correctly.

With Windows power settings, you can configure it to turn off the displays after a timeout. With Companion, this will result in the TV turning off completely, which looks to Windows like a display unplug and causes i

[2022-11-07 17:04] JPersson77 commented on #77
Hi @Ghan04, when using windows power settings the C2 will indeed power off, and this sometimes has the behavior you describe. You should be able to enable "always ready" (but I would untick the  wallpaper feature) in the settings for the TV and. In my experience with a 42C2, this alleviates the issue. Try it and please let me know how it goes.

[2022-11-07 17:08] dechamps commented on #77
See also the discussion in #71 about display disconnection events.

[2022-11-07 17:56] Ghan04 commented on #77
Perfect, that features seems to resolve the issue so Windows doesn't reconfigure the display layout when the TV turns off. Thank you!

[2022-11-07 17:56] #77 closed

[2022-11-07 18:06] #64 closed

[2022-11-07 18:07] #59 closed

[2022-11-07 19:33] reaps101 commented on #71
cheapest and easiest way for me to fix the problem was to just use firefox instead of chrome now when the tv turns back on firefox hasn't shrunk/resized. don't know why chrome resizes and firefox doesn't but oh well

[2022-11-07 19:34] JPersson77 commented on #71
if it works it works :)

[2022-11-08 06:40] Chris0706 commented on #72
`Fri 07:20:11 > LGTV Companion Service started (v 1.6.2) ---------------------------
Fri 07:20:11 > Configuration file successfully read
Fri 07:20:11 > Data path: C:\ProgramData\LGTV Companion\
Fri 07:20:11 > Device1, [LG] webOS TV OLED42C29LB, with IP 192.168.2.127 initiated (Enabled:yes, WOL:2, PairingKey:538eb18f973750ff3411d57bb7880a92, MAC: 64:CB:E9:3A:F7:2C , VerifyHdmiInput:off, SetHdmiInpu

[2022-11-08 06:44] Chris0706 commented on #72
`
Tue 07:34:49 > LGTV Companion Service started (v 1.8.0) ---------------------------
Tue 07:34:49 > Configuration file successfully read
Tue 07:34:49 > Data path: C:\ProgramData\LGTV Companion\
Tue 07:34:49 > Device1, [LG] webOS TV OLED42C29LB, with IP 192.168.2.127 initiated (Enabled:yes, WOL:2, PairingKey:538eb18f973750ff3411d57bb7880a92, MAC: 64:CB:E9:3A:F7:2C , VerifyHdmiInput:off, SetHdmiInp

[2022-11-14 01:10] alamone opened #78 "Erratic behavior since 1.8"
Hi, I have a dual monitor setup with LG CX 65 and LG C1 48, running Windows 11.  I was using 1.8 and it was generally working without issues.  Ever since I installed 1.9 it has been turning off my monitors at inappropriate times - e.g. at the windows login screen.  Other times, it was turning on my monitors after I manually turn them off - this was never an issue with 1.8.  I tried disabling the m

[2022-11-14 01:13] alamone commented on #78
Sorry I got my versions mixed up.  I am referring to 1.8 having issue, and 1.7 appearing to work fine.

[2022-11-14 11:37] JPersson77 commented on #78
Hi @alamone if you want me to have a look, can you please upload a log to pastebin or similar and paste a link here? And also make sure to tell me the timecode of when erratic baehaviour is happenig. Cheers!

[2022-11-15 04:17] Chris0706 commented on #72
'Tue 05:10:23 > LGTV Companion Service started (v 1.8.0) ---------------------------
Tue 05:10:23 > Configuration file successfully read
Tue 05:10:23 > Data path: C:\ProgramData\LGTV Companion\
Tue 05:10:23 > Device1, [LG] webOS TV OLED42C29LB, with IP 192.168.2.127 initiated (Enabled:yes, WOL:2, PairingKey:538eb18f973750ff3411d57bb7880a92, MAC: 64:CB:E9:3A:F7:2C , VerifyHdmiInput:off, SetHdmiInpu

[2022-11-15 07:11] JPersson77 commented on #72
Hi @Chris0706
indeed it looks liike the app cannot connect to the TV over the network. I agree that the WiFi could be the issue as there is evidence to support that if the TV for some reason lose the connection to the WiFi it will not automatically reconnect until it is manually powered on. If you have the opportunity to try with a network cable that might solve this problem.

[2022-11-15 07:15] JPersson77 commented on #72
Seeing that you have a C2- you could first also try to enable "Always ready" and see if that potentially alleviates the issue

[2022-11-15 14:00] Cr4z33 opened #79 "TV doesn't turn on anymore"
Since latest app update I've noticed that the companion app is able to turn the TV off, but not on anymore.
I noticed this in the logs, but have no clue what it means.
All I can  say is that the IP address `192.168.4.232` is still correct.
`Tue 14:55:25 > LGTV Companion Service started (v 1.8.0) ---------------------------
Tue 14:55:25 > Configuration file successfully read
Tue 14:55:25 > Data pat

[2022-11-15 14:18] JPersson77 commented on #79
Hi @Cr4z33 from reading the log it looks like the network is unreachable for some time after the app is started. Is it only on PC boot or resume from sleep that this issue occurs? What happens if you in the main GUI select "Test" in the drop-down menu for the 48"?

[2022-11-15 14:24] Cr4z33 commented on #79
Hi (for some unknown motherboard bug) the network is unavailable indeed, but this is happening since day one and I already setup the companion to WOL the TV after 21 seconds.

Test does turn the TV off and that is what is already happening. 🙂

[2022-11-15 14:27] JPersson77 commented on #79
If you are referring to the option "power on timeout" it does the opposite as it will terminate attempts at 21 seconds (default 40). (I will add more explanatory texts for net version as I noticed it causes some confusion).

Can you try setting this option to 40? If I interpreted your correct?

[2022-11-15 14:33] Cr4z33 commented on #79
Ohhhh I thought it would **_START_** attempting to WOL after (my case) 21 seconds lol!

OK I set it to 40 and will run a shutdown/power on test.

[2022-11-16 13:57] #79 closed

[2022-11-17 14:07] P00NtANG opened #80 "LGC2 screen randomly turns on."
I recently updated to v1.8 from v1.7.

But during the middle of the night I noticed the screen came out of stand-by on it's own and was displaying the built-in screen saver images that auto activates when there is no detected input.

This happened two nights in a row, so I uninstalled v1.8 and went back to v1.7 and it has not happened since.

A bug maybe?

[2022-11-17 14:21] P00NtANG commented on #80
Hi, no I just manually switch between inputs as required.
But I can certainly install v1.8 again and enable logging, no problem. 👍

[2022-11-19 22:06] Hekel1989 opened #81 "Linux version"
Hi, any chance you've got a Linux version in the works? Thanks :)

[2022-11-22 15:09] Chad711 opened #82 "No longer working after last LG update"
Yesterday I had a new update for the TV. Since this this does not seem to work (will not turn on TV on power up). Anyone else having this issue?

[2022-11-22 16:46] JPersson77 commented on #82
No such issue (42C2). Verify that your tv IP did not change and that its still connected to LAN. If that does not help enable the log and paste it here so I can have a look

[2022-11-23 14:43] Chad711 commented on #82
Not sure what the issue was, you can disregard. It's working good today. Thank you

[2022-11-23 14:43] #82 closed

[2022-11-23 20:14] ryanmoses commented on #80
Hi there.  Thank you @JPersson77 for this great software.   Unfortunately I am seeing this issue also.  There have been no changes that I'm aware of outside of some LG automatic updates in the last few days.

I am a new user with v1.8 so I'm unable to compare behaviors with 1.7 however my LG C2 is constantly turning itself on in the last few days.    EG  I turn off the TV & shut my PC down and the

[2022-11-23 21:08] ryanmoses commented on #80
Hi - I was having a similar issue but after enabling logging I found my TV had changed IP addresses.  Unsure if this helps.

Thanks!

[2022-11-24 17:22] Wektory commented on #81
Hey, I'm joining, a Linux version would be great.

[2022-11-24 19:53] ryanmoses commented on #78
Hi @alamone  & @JPersson77  - I have the same issues.  I thought it was related to an IP addressing issue but I can confirm I have the exact issues described by @alamone with version v1.8

The TV powers on when I shut down the PC and it powers on at the windows login screen.  It will also power on at other seemingly random times.  EG when working during the day I remove my OLED Tv from monitor top

[2022-11-24 21:18] JPersson77 commented on #81
Seems like a big undertaking but I will consider

[2022-11-24 21:21] JPersson77 commented on #80
@ryanmoses thanks too!

@P00NtANG any feedback wrt this issue?

[2022-11-24 21:28] JPersson77 commented on #78
@alamone @ryanmoses logs would be of great assistance.

One thing though, it is expected that the displays power on for the login screen when booting. Once the user has logged in the displays should after a few seconds respect the monitor topology though. This behaviour is because the monitor topology is a  user space function.

[2022-11-24 23:14] Hekel1989 commented on #81
If you need any help on the Linux side, let me know, and I'll research it, test it, etc.

I'd volunteer to help coding, but my C is non existent

[2022-11-27 06:23] sreenisatish opened #83 "Blank on idle stopped working"
The app worked perfectly fine for a few weeks until yesterday, the blank on idle stopped working. I have tried to do some debugging on my own - nothing seems to be working and I am at my wits end.

Things tried:
1. Assigned static IP for the TV on my router
2. Removed all devices and scanned and re-added
3. Enable logging
4. Verified that the service is running in services.msc. Tried re-starting i

[2022-11-27 06:28] sreenisatish commented on #83
Oh and the Windows power setting Turn off display after 'X minutes' also does not seem to be working. Is it possible that some app is interfering with the idle detection system wide?

[2022-11-27 06:36] sreenisatish commented on #83
Ah I just figured this out! I had my PS5 controller plugged in with USB. It appears that the controller is what was interfering with the idle detection. Feel free to add this in the troubleshooting section.

[2022-11-27 06:36] #83 closed

[2022-11-27 07:10] JPersson77 commented on #83
Thanks for the detailed report. I would not expect the PS5 controller to cause this issue actually. Don't have one to test with though.

I am looking to make the blank on idle features a bit more granular so maybe it would be possible to add some additional checks or logic to prevent some controllers from triggering this behaviour. I've seen at least one other report of controllers causing whar yo

[2022-11-27 08:25] JPersson77 commented on #81
Thanks mate for wanting to help out, I'll keep it in mind

[2022-11-27 10:19] dechamps commented on #83
One possible explanation is this [GeForce Experience bug](https://details-of-note.blogspot.com/2020/12/nvidia-3-year-old-bug.html) that disrupts Windows input detection when a joystick is plugged in. If you have GeForce Experience installed, try disabling the overlay.

[2022-11-27 11:46] JPersson77 commented on #83
@dechamps that was a very interesting read!

[2022-11-29 21:53] KrisDee1981 opened #84 "V1.6.2 Restart problem."
Everything works great on my LG42C2 but when restarting Windows TV turn off.
I have Polish Version of Windows 11 Pro, and in "Restart Words" I have put checkmarks for "restart" and "uruchom ponownie"(restart in Polish).

[2022-11-29 22:04] JPersson77 commented on #84
Hi @KrisDee1981 can you please upload your log and config.json file to pastebin and paste a lik here so I can have a look. Cheers!

[2022-11-29 23:44] KrisDee1981 commented on #84
https://pastebin.com/4A9E0rv8

https://pastebin.com/jcbDLiKd

[2022-11-30 12:30] JPersson77 commented on #84
Thank you! What immediately stands out is this from the log:

Tue 23:32:02 > WARNING! The application did not receive an Event Subscription Callback prior to system shutting down. Unable to determine if system is shutting down or restarting.

Some additional information - there is no straightforward way, known to me, for a windows service to determine if the system is restarted or shutdown. Actual